<!DOCTYPE html>
<html class="qp-ui" data-qp-ui="{
  'Futurizr': {
    'hasTouch': 'touch'
  }
}">

<head>
  <link href="../static/css/main.css" rel="stylesheet" />
  <link href='https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <meta name="keywords" content="" />
  <title>Lists - Components - Google design guidelines</title>
  <meta itemprop="name" content="Lists - Components - Google design guidelines" />
  <meta itemprop="image" content="https://material-design.storage.googleapis.com/publish/v_1/social.png" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Lists - Components - Google design guidelines" />
  <meta property="og:image" content="https://material-design.storage.googleapis.com/publish/v_1/social.png" />
  <meta property="og:site_name" content="Google design guidelines" />
  <meta property="article:section" content="Lists - Components" />
  <!--
<PageMap>
    <DataObject type="document">
      <Attribute name="uid"></Attribute>
      <Attribute name="title">Lists</Attribute>
      <Attribute name="keywords"></Attribute>
      <Attribute name="slug"></Attribute>
      <Attribute name="description"></Attribute>
      <Attribute name="section_title">Components</Attribute>
      <Attribute name="section_slug">components</Attribute>
    </DataObject>
    <DataObject type="thumbnail">
      <Attribute name="src" value="" />
    </DataObject>
</PageMap>
-->
  <script>
  (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-51798601-1', 'auto');
  ga('send', 'pageview');
  </script>
</head>

<body class="section-components noninitial-chapter qp-ui" data-qp-ui="{ 'Mask': {} }">
  <header>
    <div class="header-wrapper">
      <div class="header-title"> <span class="section-title">Components</span>
        <span class="chapter-title">Lists</span>
      </div>
    </div>
  </header>
  <nav>
    <button class="hamburger-button qp-ui" data-qp-ui="{ 'SideNavToggle': {} }" role="tab">Show navigation</button>
  </nav>
  <div id="side-nav" class="qp-ui" data-qp-ui="{ 'SideNavDrawer': {} }">
    <div class="side-nav-wrapper">
      <span id="logo"><img src="https://material-design.storage.googleapis.com/images/Google_Logo.svg" alt="Google logo"/></span>
      <nav>
        <dl>
          <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Material design
          </dt>
          <dd>
            <a class="" href="../index.html">Introduction
                    </a>
          </dd>
          <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">What is material?
          </dt>
          <dd>
            <a class="" href="../what-is-material/environment.html">Environment
                    </a>
            <a class="" href="../what-is-material/material-properties.html">Material properties
                    </a>
            <a class="" href="../what-is-material/objects-in-3d-space.html">Objects in 3D space
                    </a>
          </dd>
          <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Animation
          </dt>
          <dd>
            <a class="" href="../animation/authentic-motion.html">Authentic motion
                    </a>
            <a class="" href="../animation/responsive-interaction.html">Responsive interaction
                    </a>
            <a class="" href="../animation/meaningful-transitions.html">Meaningful transitions
                    </a>
            <a class="" href="../animation/delightful-details.html">Delightful details
                    </a>
          </dd>
          <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Style
          </dt>
          <dd>
            <a class="" href="../style/color.html">Color
                    </a>
            <a class="" href="../style/icons.html">Icons
                    </a>
            <a class="" href="../style/imagery.html">Imagery
                    </a>
            <a class="" href="../style/typography.html">Typography
                    </a>
          </dd>
          <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Layout
          </dt>
          <dd>
            <a class="" href="../layout/principles.html">Principles
                    </a>
            <a class="" href="../layout/metrics-keylines.html">Metrics &amp; keylines
                    </a>
            <a class="" href="../layout/structure.html">Structure
                    </a>
          </dd>
          <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': true }">Components
          </dt>
          <dd>
            <a class="" href="bottom-sheets.html">Bottom sheets
                    </a>
            <a class="" href="buttons.html">Buttons
                    </a>
            <a class="" href="cards.html">Cards
                    </a>
            <a class="" href="chips.html">Chips
                    </a>
            <a class="" href="dialogs.html">Dialogs
                    </a>
            <a class="" href="dividers.html">Dividers
                    </a>
            <a class="" href="grids.html">Grids
                    </a>
            <a class="nav_selected" href="lists.html">Lists
                    </a>
            <a class="" href="list-controls.html">List controls
                    </a>
            <a class="" href="menus.html">Menus
                    </a>
            <a class="" href="pickers.html">Pickers
                    </a>
            <a class="" href="progress-activity.html">Progress &amp; activity
                    </a>
            <a class="" href="sliders.html">Sliders
                    </a>
            <a class="" href="snackbars-toasts.html">Snackbars &amp; toasts
                    </a>
            <a class="" href="subheaders.html">Subheaders
                    </a>
            <a class="" href="switches.html">Switches
                    </a>
            <a class="" href="tabs.html">Tabs
                    </a>
            <a class="" href="text-fields.html">Text fields
                    </a>
            <a class="" href="tooltips.html">Tooltips
                    </a>
          </dd>
          <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Patterns
          </dt>
          <dd>
            <a class="" href="../patterns/data-formats.html">Data formats
                    </a>
            <a class="" href="../patterns/errors.html">Errors
                    </a>
            <a class="" href="../patterns/gestures.html">Gestures
                    </a>
            <a class="" href="../patterns/loading-images.html">Loading images
                    </a>
            <a class="" href="../patterns/navigation-drawer.html">Navigation drawer
                    </a>
            <a class="" href="../patterns/navigational-transitions.html">Navigational transitions
                    </a>
            <a class="" href="../patterns/scrolling-techniques.html">Scrolling techniques
                    </a>
            <a class="" href="../patterns/search.html">Search
                    </a>
            <a class="" href="../patterns/selection.html">Selection
                    </a>
            <a class="" href="../patterns/settings.html">Settings
                    </a>
            <a class="" href="../patterns/swipe-to-refresh.html">Swipe to refresh
                    </a>
          </dd>
          <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Usability
          </dt>
          <dd>
            <a class="" href="../usability/accessibility.html">Accessibility
                    </a>
            <a class="" href="../usability/bidirectionality.html">Bidirectionality
                    </a>
          </dd>
          <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Resources
          </dt>
          <dd>
            <a class="" href="../resources/color-palettes.html">Color palettes
                              </a>
            <a class="" href="../resources/layout-templates.html">Layout templates
                    </a>
            <a class="" href="../resources/roboto-noto-fonts.html">Roboto &amp; Noto fonts
                    </a>
            <a class="" href="../resources/sticker-sheets-icons.html">Sticker sheets &amp; icons
                    </a>
          </dd>
          <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">What&#39;s new
          </dt>
          <dd>
            <a class="" href="../whats-new/whats-new.html">What&#39;s new
                    </a>
          </dd>
        </dl>
      </nav>
      <div class="legal">
        <p class="copyright">Google &copy;</p>
        <a href="http://www.google.com/intl/en/policies/privacy/">Privacy</a> &amp; <a href="http://www.google.com/intl/en/policies/terms/">Terms</a>
      </div>
    </div>
  </div>

  <div id="grid-cont">
    <section class="grid_outer chapter">
      <h1 class="chapter-title">Lists
      </h1>

      <div class="chapter-content">

        <div class="chapter-intro">
          <p>Lists present multiple line items in a vertical arrangement as a single continuous element.</p>



        </div>

        <nav class="chapter-toc">
          <h1>Contents</h1>
          <ul>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="lists.html#lists-usage">Usage
                </a>
            </li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="lists.html#lists-content">Content
                </a>
            </li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="lists.html#lists-behavior">Behavior
                </a>
            </li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="lists.html#lists-specs">Specs
                </a>
            </li>
          </ul>
        </nav>

        <div class="article-list">
          <div id="lists-usage" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
    Usage
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
      <title id="title">Expand and collapse content</title>
      <desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
      <polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
    </svg>
  </h2>
            <div class="article-content">
              <div class="module-list">
                <div>
                  <section class="moduleD1">
                    <div class="module-body">
                      <p>A </span><strong>list</strong><span> consists of a single continuous column of tessellated sub-divisions of equal width called </span><strong>rows </strong><span>that function as containers for </span><strong>tiles</strong><span>.</p><p><strong>Tiles</strong><span> hold content, and can vary in height within a list.</p>
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7aGNuNnFnVktPdGM/components_lists_usage1.png" />
                    </div>
                        </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7TmRJenRtUVZFLUk/components_lists_usage2.png" />
                    </div>
                        </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleD1">
    <div class="module-body">
    <p>Lists are best suited to presenting a </span><strong>homogeneous data type or sets of data types</strong><span>, such as images and text, optimized for </span><strong>reading comprehension</strong><span> with the goal of differentiating between like data types or qualities within a single data type.</p><p>If more than three lines of text need to be shown in list tiles, use cards instead.</p><p>If the primary distinguishing content consists of images, use a grid list.</p>
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7WHctOVhud3J5TE0/components_lists_usage3.png" />
                    </div>
                        </figure>
          </div>
  </div>
</section>
        </div>
              </div>
  </div>
</div>                  <div id="lists-content" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
  <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
    Content
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
      <title id="title">Expand and collapse content</title>
      <desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
      <polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
    </svg>
  </h2>
  <div class="article-content">
    <div class="module-list">
                  <div>
          <section class="moduleD1">
      <h3>Tile content</h3>
    <div class="module-body">
    <p>List tiles present collections of related content in a consistent format, using hierarchy to enhance readability by prioritizing a consistent type or set of content. For example, in an email app, an inbox list emphasizes an avatar and text snippet over a time stamp. This helps users more easily find the most important information within the collection of content. </p><p>List tiles can contain up to three lines of text, and the amount of text can vary between tiles within the same list. To display more than three lines of text, use a card.</p><p>Bias the most distinguishing content in a tile towards the left of the tile. In tiles with mutli-line content, place the most distinguishing content in the first line.</p>
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7ckJuUHNnUVlVYTQ/components_lists_content1.png" />
                    </div>
                        </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleD1">
      <h3>Tile actions</h3>
    <div class="module-body">
    <p>The majority of space on a list tile should be dedicated to the primary action.</p><p>Because actions are not distinguishing elements of list tiles, place supplemental actions on the right side of the tile.</p><p>Primary and supplemental actions, such as play, zoom in, delete, and select, are immediate and typically do not have a submenu of options (action overflow) within the list.</p><p>Actions can open a subsequent view, such as a card.</p>
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7bTlwblZleHIwU1U/components_lists_content2.png" />
                    </div>
                        </figure>
          </div>
  </div>
</section>
        </div>
              <div>
            <section class="moduleB1">
        <div class="module-body">
      <h4>Primary actions:</h4><ul><li><span>Fill the entire tile, and therefore are not represented via icons, text, etc.</span>
                        </li>
                        <li><span>Are consistent throughout tiles in a specific list. For example, the primary action for all tiles in a single list of music would be to play a song, or in a list of emails, to open to read an email.</span>
                        </li>
                        </ul>
                        <h4>Supplemental actions:</h4>
                        <ul>
                          <li><span>Are represented in tiles with icons, secondary text, etc.</span>
                          </li>
                          <li><span>Are functionally consistent throughout tiles in a specific list, for example, an icon that indicates whether someone is online.</span>
                          </li>
                          <li><span>Are placed in a consistent location within the tiles of a specific list.</span>
                          </li>
                        </ul>
                        <p>Avoid creating visual noise by repeatedly using supplemental actions in tiles, for example, by displaying a share action in every tile. Toggles, such as stars or pins, are exceptions because they provide meaningful information by displaying state.</p>
                    </div>
                  </section>

                </div>
              </div>
            </div>
          </div>
          <div id="lists-behavior" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
    Behavior
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
      <title id="title">Expand and collapse content</title>
      <desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
      <polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
    </svg>
  </h2>
            <div class="article-content">
              <div class="module-list">
                <div>
                  <section class="moduleB1">
                    <h3>Scrolling</h3>
                    <div class="module-body">
                      <p>Lists scroll only vertically.</p>
                    </div>
                  </section>

                </div>
                <div>
                  <section class="moduleB1">
                    <h3>Gestures</h3>
                    <div class="module-body">
                      <p>Per-tile swipe actions should be consistent within lists.</p>
                      <p>Where appropriate, tiles can be moved between a list and a drop target (for example, moving a file into a folder) and picked up and manually reordered within a list.</p>
                    </div>
                  </section>

                </div>
                <div>
                  <section class="moduleD1">
                    <h3>Tile filtering and sorting</h3>
                    <div class="module-body">
                      <p>List tiles can be programmatically sorted or filtered by date, file size, alphabetical order, or other parameters.</p>
                    </div>
                    <div class="figure-group">
                      <div class="figure-row">
                        <figure class="example do">
                          <div class="media">
                            <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7NUE3aUttSVlTT1k/components_lists_behavior1.png" />
                          </div>
                          <figcaption>
                            <div class="caption-title">Do.</div>
                            <p>Alphabetical sorting makes information easier to find.</p>
                          </figcaption>
                        </figure>
                        <figure class="example dont">
                          <div class="media">
                            <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7TDFqMXh2ZEZsWjA/components_lists_behavior2.png" />
                          </div>
                          <figcaption>
                            <div class="caption-title">Don't.</div>
                            <p>Don’t display information in random order; if the UI doesn’t allow the user to sort a list, your app should use a logical sort order.</p>
                          </figcaption>
                        </figure>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
          <div id="lists-specs" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
    Specs
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
      <title id="title">Expand and collapse content</title>
      <desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
      <polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
    </svg>
  </h2>
            <div class="article-content">
              <div class="module-list">
                <div>
                  <section class="moduleD1">
                    <div class="module-body">
                      <p>In a </span><strong>single-line list</strong><span>, each tile contains a single line of text. The amount of text can vary between tiles within the same list.</p>
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7cE1GVkdnY2RJVHc/components_lists_keylines1.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Element</div>
        </figcaption>
                </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7U1RpV0NtX1oxU1k/components_lists_keylines_single6.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Context</div>
        </figcaption>
                </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleD1">
    <div class="module-body">
    <p>In a </span><strong>two-line list</strong><span>, each tile contains a maximum of two lines of text. The amount of text can vary between tiles within the same list.</p>
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7VEVvMU1hdmxQb3M/components_lists_keylines3.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Element</div>
        </figcaption>
                </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7dTZPVXhSZjkzeEU/components_lists_keylines4.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Context</div>
        </figcaption>
                </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleD1">
    <div class="module-body">
    <p>In a </span><strong>three-line list</strong><span>, each tile contains a maximum of three lines of text.</p><p>The amount of text can vary between tiles within the same list.</p>
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7bE92OEZmTk5OMW8/components_lists_keylines5.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Element</div>
        </figcaption>
                </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7WFlXMWVNV0h2QW8/components_lists_keylines6.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Context</div>
        </figcaption>
                </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleD1">
      <h3>Single-line list</h3>
    <div class="module-body">
    <h4>Text only</h4><p>Font: Roboto Regular 16sp<br/>Tile height: 48dp<br/>Text padding, top: 16dp<br/>Text padding, bottom: 20dp</p><p>Bottom padding is measured from the baseline.</p><p>Add 8dp padding at the top and bottom of a list. One exception is at the top of a list with a subheader, because subheaders contain their own padding.</p>
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7WGxpMDJqMTJxWEE/components_lists_keylines_single1.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Element</div>
        </figcaption>
                </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7Y1FsdElhSlJ1WEU/components_lists_keylines_single2.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Keylines</div>
        </figcaption>
                </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7TE81MDFRZzd1Nm8/components_lists_keylines_single3.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Context</div>
        </figcaption>
                </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleD1">
    <div class="module-body">
    <h4>Icon with text</h4><p>Font: Roboto Regular 16sp<br/>Tile height: 56dp<br/>Icon padding, left: 16dp<br/>Text padding, left: 72dp<br/>Text padding, top: 16dp<br/>Text padding, bottom: 20dp</p><p>Bottom padding is measured from the baseline.</p><p>Add 8dp padding at the top and bottom of a list. One exception is at the top of a list with a subheader, because subheaders contain their own padding.</p>
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7a3RZSEFjNmlZcVk/components_lists_keylines_single4.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Element</div>
        </figcaption>
                </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7eUpZcXJRODJvMXc/components_lists_keylines_single5.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Keylines</div>
        </figcaption>
                </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7U1RpV0NtX1oxU1k/components_lists_keylines_single6.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Context</div>
        </figcaption>
                </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleD1">
    <div class="module-body">
    <h4>Avatar with text</h4><p>Font: Roboto Regular 16sp<br/>Tile height: 56dp<br/>Left avatar padding: 16dp<br/>Text padding, left: 72dp<br/>Text padding, top: 20dp<br/>Text padding, bottom: 24dp</p><p>Bottom padding is measured from the baseline.</p><p>Add 8dp padding at the top and bottom of a list. One exception is at the top of a list with a subheader, because subheaders contain their own padding.</p>
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7a3JraGNfZTE0VW8/components_lists_keylines_single7.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Element</div>
        </figcaption>
                </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7bzEta2VMeTQ5QTg/components_lists_keylines_single8.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Keylines</div>
        </figcaption>
                </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7cFhSdl9CN1VTeDg/components_lists_keylines_single9.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Context</div>
        </figcaption>
                </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleD1">
    <div class="module-body">
    <h4>Avatar with text and icon</h4><p>Font: Roboto Regular 16sp<br/>Tile height: 48dp<br/>Left avatar padding: 16dp<br/>Text padding, left: 72dp<br/>Text padding, top: 20dp<br/>Text padding, bottom: 24dp</p><p>Bottom padding is measured from the baseline.</p><p>Right icon padding: 16dp</p><p>Add 8dp padding at the top and bottom of a list. One exception is at the top of a list with a subheader, because subheaders contain their own padding.</p>
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7UUw0bzVwU2lMUHc/components_lists_keylines_single10.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Element</div>
        </figcaption>
                </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7T2pKUG0teEQycTA/components_lists_keylines_single11.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Keylines</div>
        </figcaption>
                </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7cFhSdl9CN1VTeDg/components_lists_keylines_single9.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Context</div>
        </figcaption>
                </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleD1">
      <h3>Two-line list</h3>
    <div class="module-body">
    <h4>Text only</h4><p>Primary text font: Roboto Regular 16sp<br/>Secondary text font: Roboto Regular 14sp<br/>Tile height: 72dp<br/>Text padding, left: 16dp<br/>Text padding, top and bottom: 20dp</p><p>Bottom padding is measured from the baseline.</p><p>Add 8dp padding at the top and bottom of a list. One exception is at the top of a list with a subheader, because subheaders contain their own padding.</p>
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7SmhjTUNqNndIanM/components_lists_keylines_two1.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Element</div>
        </figcaption>
                </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7UkNZZk02N3BYazg/components_lists_keylines_two2.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Keylines</div>
        </figcaption>
                </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7b0NpckxqVnBxbWs/components_lists_keylines_two3.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Context</div>
        </figcaption>
                </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleD1">
    <div class="module-body">
    <h4>Icon with text</h4><p>Primary text font: Roboto Regular 16sp<br/>Secondary text font: Roboto Regular 14sp<br/>Tile height: 72dp<br/>Left icon padding: 16dp<br/>Text padding, left: 72dp<br/>Text padding, top and bottom: 20dp<br/>Bottom padding is measured from the baseline.</p><p>Add 8dp padding at the top and bottom of a list. One exception is at the top of a list with a subheader, because subheaders contain their own padding.</p>
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7X3EyVXlLNVFsY00/components_lists_keylines_two4.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Element</div>
        </figcaption>
                </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7RTJvc2pWMnFvQTg/components_lists_keylines_two5.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Keylines</div>
        </figcaption>
                </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7WHgwei1jRTdkc1k/components_lists_keylines_two12.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Context</div>
        </figcaption>
                </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleD1">
    <div class="module-body">
    <h4>Avatar with text</h4><p>Primary text font: Roboto Regular 16sp<br/>Secondary text font: Roboto Regular 14sp<br/>Tile height: 72dp<br/>Left avatar padding: 16dp<br/>Text padding, left: 72dp<br/>Text padding, top and bottom: 20dp</p><p>Bottom padding is measured from the baseline.</p><p>Center-align icon with text area.</p><p>Add 8dp padding at the top and bottom of a list. One exception is at the top of a list with a subheader, because subheaders contain their own padding.</p>
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7Z2tISG42SEgyWE0/components_lists_keylines_two6.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Element</div>
        </figcaption>
                </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7Tm9ZQmFCZzlITkE/components_lists_keylines_two7.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Keylines</div>
        </figcaption>
                </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7QU52RF9tMlY1RUk/components_lists_keylines_two8.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Context</div>
        </figcaption>
                </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleD1">
    <div class="module-body">
    <h4>Avatar with text and icon</h4><p>Primary text font: Roboto Regular 16sp<br/>Secondary text font: Roboto Regular 14sp<br/>Tile height: 72dp<br/>Left avatar padding: 16dp<br/>Text padding, left: 72dp<br/>Text padding, top and bottom: 20dp</p><p>Bottom padding is measured from the baseline.</p><p>Right icon padding: 16dp</p><p>Add 8dp padding at the top and bottom of a list. One exception is at the top of a list with a subheader, because subheaders contain their own padding.</p>
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7TWVjYVJIcno0YjA/components_lists_keylines_two9.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Element</div>
        </figcaption>
                </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7NkI5bzU3Y3BQQzg/components_lists_keylines_two10.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Keylines</div>
        </figcaption>
                </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7am1UYzRrTjdfSUU/components_lists_keylines_two11.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Context</div>
        </figcaption>
                </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleD1">
      <h3>Three-line list</h3>
    <div class="module-body">
    <h4>Text only</h4><p>Primary text font: Roboto Regular 16sp</p><p>Secondary text font: Roboto Regular 14sp<br/>Tile height: 88dp<br/>Text padding, left: 16dp<br/>Text padding, top: 16dp<br/>Text padding, bottom: 20dp</p><p>Bottom padding is measured from the baseline.</p><p>Add 8dp padding at the top and bottom of a list. One exception is at the top of a list with a subheader, because subheaders contain their own padding.</p>
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7am9jN1JnVmRHYmc/components_lists_keylines_three1.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Element</div>
        </figcaption>
                </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7SHJoWmR6M1ZwLWs/components_lists_keylines_three2.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Keylines</div>
        </figcaption>
                </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7Mk42SlRtaE1US2c/components_lists_keylines_three12.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Context</div>
        </figcaption>
                </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleD1">
    <div class="module-body">
    <h4>Icon with text</h4><p>Primary text font: Roboto Regular 16sp<br/>Secondary text font: Roboto Regular 14sp<br/>Tile height: 88dp<br/>Left icon padding: 16dp<br/>Text left padding: 72dp<br/>Text padding, top: 16dp<br/>Text padding, bottom: 20dp</p><p>Bottom padding is measured from the baseline.</p><p>Top-align icon with primary text.</p><p>Add 8dp padding at the top and bottom of a list. One exception is at the top of a list with a subheader, because subheaders contain their own padding.</p>
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7c3ZqaUVJVkt2MlE/components_lists_keylines_three4.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Element</div>
        </figcaption>
                </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7SzM3LXBidHdrTXc/components_lists_keylines_three5.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Keylines</div>
        </figcaption>
                </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7cWFlLXZQdHJjLW8/components_lists_keylines_three3.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Context</div>
        </figcaption>
                </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleD1">
    <div class="module-body">
    <h4>Avatar with text</h4><p>Primary text font: Roboto Regular 16sp<br/>Secondary text font: Roboto Regular 14sp<br/>Tile height: 88dp<br/>Left avatar padding: 16dp<br/>Left text padding: 72dp<br/>Text padding, top: 16dp<br/>Text padding, bottom: 20dp</p><p>Bottom padding is measured from the baseline.</p><p>Top-align avatar with primary text.</p><p>Add 8dp padding at the top and bottom of a list. One exception is at the top of a list with a subheader, because subheaders contain their own padding.</p>
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7QjBWdDR5M0RyR28/components_lists_keylines_three6.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Element</div>
        </figcaption>
                </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7S25WMDVnMnBRbVE/components_lists_keylines_three7.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Keylines</div>
        </figcaption>
                </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7RzBUUnowOFdjRzQ/components_lists_keylines_three8.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Context</div>
        </figcaption>
                </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleD1">
    <div class="module-body">
    <h4>Avatar with text and icon</h4><p>Primary text font: Roboto Regular 16sp<br/>Secondary text font: Roboto Regular 14sp<br/>Tile height: 88dp<br/>Left avatar padding: 16dp<br/>Text left padding: 72dp<br/>Text padding, top: 16dp<br/>Text padding, bottom: 20dp</p><p>Bottom padding is measured from the baseline.</p><p>Right icon padding: 16dp</p><p>Top-align avatar and icon with primary text.</p><p>Add 8dp padding at the top and bottom of a list. One exception is at the top of a list with a subheader, because subheaders contain their own padding.</p>
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7TzFEbTdZYm1MTWM/components_lists_keylines_three9.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Element</div>
        </figcaption>
                </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7X3k2SVNsUDFfZG8/components_lists_keylines_three10.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Keylines</div>
        </figcaption>
                </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7LTctR19YZl9vVmc/components_lists_keylines_three11.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Context</div>
        </figcaption>
                </figure>
          </div>
  </div>
</section>
        </div>
              </div>
  </div>
</div>                  </div>

  </div>

</section>    </div>

    <footer>
  <div class="footer-grid">
    <div class="footer-L section-components">&nbsp;</div>
    <div class="footer-grid-L section-components">
            <a class="footer-text" href="grids.html">
        <img class="arrow-L" alt="" src="https://material-design.storage.googleapis.com/images/Arrow-left_24x24px.svg"/>
        <span>Previous</span>
                        <div>
                          Grids
                        </div>
                        </a>
                    </div>

                    <div class="footer-R section-components">&nbsp;</div>
                    <div class="footer-grid-R section-components">
                      <a class="footer-text" href="list-controls.html">
                        <img class="arrow-L" alt="" src="https://material-design.storage.googleapis.com/images/Arrow-right_24x24px.svg" />
                        <span>Next</span>
                        <div>
                          List controls
                        </div>
                      </a>
                    </div>

                </div>
                </footer>
                <script src="https://www.gstatic.com/external_hosted/picturefill/picturefill.min.js"></script>
                <script src="../static/js/main.js"></script>


</body>

</html>
