<!DOCTYPE html>
<html class="qp-ui" data-qp-ui="{
  'Futurizr': {
    'hasTouch': 'touch'
  }
}">

<head>
  <link href="../static/css/main.css" rel="stylesheet" />
  <link href='https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <meta name="keywords" content="" />
  <title>Sliders - Components - Google design guidelines</title>
  <meta itemprop="name" content="Sliders - Components - Google design guidelines" />
  <meta itemprop="image" content="https://material-design.storage.googleapis.com/publish/v_1/social.png" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Sliders - Components - Google design guidelines" />
  <meta property="og:image" content="https://material-design.storage.googleapis.com/publish/v_1/social.png" />
  <meta property="og:site_name" content="Google design guidelines" />
  <meta property="article:section" content="Sliders - Components" />
  <!--
<PageMap>
    <DataObject type="document">
      <Attribute name="uid"></Attribute>
      <Attribute name="title">Sliders</Attribute>
      <Attribute name="keywords"></Attribute>
      <Attribute name="slug"></Attribute>
      <Attribute name="description"></Attribute>
      <Attribute name="section_title">Components</Attribute>
      <Attribute name="section_slug">components</Attribute>
    </DataObject>
    <DataObject type="thumbnail">
      <Attribute name="src" value="" />
    </DataObject>
</PageMap>
-->
  <script>
  (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-51798601-1', 'auto');
  ga('send', 'pageview');
  </script>
</head>

<body class="section-components noninitial-chapter qp-ui" data-qp-ui="{ 'Mask': {} }">
  <header>
    <div class="header-wrapper">
      <div class="header-title"> <span class="section-title">Components</span>
        <span class="chapter-title">Sliders</span>
      </div>
    </div>
  </header>
  <nav>
    <button class="hamburger-button qp-ui" data-qp-ui="{ 'SideNavToggle': {} }" role="tab">Show navigation</button>
  </nav>
  <div id="side-nav" class="qp-ui" data-qp-ui="{ 'SideNavDrawer': {} }">
    <div class="side-nav-wrapper">
      <span id="logo"><img src="https://material-design.storage.googleapis.com/images/Google_Logo.svg" alt="Google logo"/></span>
      <nav>
        <dl>
          <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Material design
          </dt>
          <dd>
            <a class="" href="../index.html">Introduction
                    </a>
          </dd>
          <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">What is material?
          </dt>
          <dd>
            <a class="" href="../what-is-material/environment.html">Environment
                    </a>
            <a class="" href="../what-is-material/material-properties.html">Material properties
                    </a>
            <a class="" href="../what-is-material/objects-in-3d-space.html">Objects in 3D space
                    </a>
          </dd>
          <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Animation
          </dt>
          <dd>
            <a class="" href="../animation/authentic-motion.html">Authentic motion
                    </a>
            <a class="" href="../animation/responsive-interaction.html">Responsive interaction
                    </a>
            <a class="" href="../animation/meaningful-transitions.html">Meaningful transitions
                    </a>
            <a class="" href="../animation/delightful-details.html">Delightful details
                    </a>
          </dd>
          <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Style
          </dt>
          <dd>
            <a class="" href="../style/color.html">Color
                    </a>
            <a class="" href="../style/icons.html">Icons
                    </a>
            <a class="" href="../style/imagery.html">Imagery
                    </a>
            <a class="" href="../style/typography.html">Typography
                    </a>
          </dd>
          <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Layout
          </dt>
          <dd>
            <a class="" href="../layout/principles.html">Principles
                    </a>
            <a class="" href="../layout/metrics-keylines.html">Metrics &amp; keylines
                    </a>
            <a class="" href="../layout/structure.html">Structure
                    </a>
          </dd>
          <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': true }">Components
          </dt>
          <dd>
            <a class="" href="bottom-sheets.html">Bottom sheets
                    </a>
            <a class="" href="buttons.html">Buttons
                    </a>
            <a class="" href="cards.html">Cards
                    </a>
            <a class="" href="chips.html">Chips
                    </a>
            <a class="" href="dialogs.html">Dialogs
                    </a>
            <a class="" href="dividers.html">Dividers
                    </a>
            <a class="" href="grids.html">Grids
                    </a>
            <a class="" href="lists.html">Lists
                    </a>
            <a class="" href="list-controls.html">List controls
                    </a>
            <a class="" href="menus.html">Menus
                    </a>
            <a class="" href="pickers.html">Pickers
                    </a>
            <a class="" href="progress-activity.html">Progress &amp; activity
                    </a>
            <a class="nav_selected" href="sliders.html">Sliders
                    </a>
            <a class="" href="snackbars-toasts.html">Snackbars &amp; toasts
                    </a>
            <a class="" href="subheaders.html">Subheaders
                    </a>
            <a class="" href="switches.html">Switches
                    </a>
            <a class="" href="tabs.html">Tabs
                    </a>
            <a class="" href="text-fields.html">Text fields
                    </a>
            <a class="" href="tooltips.html">Tooltips
                    </a>
          </dd>
          <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Patterns
          </dt>
          <dd>
            <a class="" href="../patterns/data-formats.html">Data formats
                    </a>
            <a class="" href="../patterns/errors.html">Errors
                    </a>
            <a class="" href="../patterns/gestures.html">Gestures
                    </a>
            <a class="" href="../patterns/loading-images.html">Loading images
                    </a>
            <a class="" href="../patterns/navigation-drawer.html">Navigation drawer
                    </a>
            <a class="" href="../patterns/navigational-transitions.html">Navigational transitions
                    </a>
            <a class="" href="../patterns/scrolling-techniques.html">Scrolling techniques
                    </a>
            <a class="" href="../patterns/search.html">Search
                    </a>
            <a class="" href="../patterns/selection.html">Selection
                    </a>
            <a class="" href="../patterns/settings.html">Settings
                    </a>
            <a class="" href="../patterns/swipe-to-refresh.html">Swipe to refresh
                    </a>
          </dd>
          <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Usability
          </dt>
          <dd>
            <a class="" href="../usability/accessibility.html">Accessibility
                    </a>
            <a class="" href="../usability/bidirectionality.html">Bidirectionality
                    </a>
          </dd>
          <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Resources
          </dt>
          <dd>
            <a class="" href="../resources/color-palettes.html">Color palettes
                              </a>
            <a class="" href="../resources/layout-templates.html">Layout templates
                    </a>
            <a class="" href="../resources/roboto-noto-fonts.html">Roboto &amp; Noto fonts
                    </a>
            <a class="" href="../resources/sticker-sheets-icons.html">Sticker sheets &amp; icons
                    </a>
          </dd>
          <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">What&#39;s new
          </dt>
          <dd>
            <a class="" href="../whats-new/whats-new.html">What&#39;s new
                    </a>
          </dd>
        </dl>
      </nav>
      <div class="legal">
        <p class="copyright">Google &copy;</p>
        <a href="http://www.google.com/intl/en/policies/privacy/">Privacy</a> &amp; <a href="http://www.google.com/intl/en/policies/terms/">Terms</a>
      </div>
    </div>
  </div>

  <div id="grid-cont">
    <section class="grid_outer chapter">
      <h1 class="chapter-title">Sliders
      </h1>

      <div class="chapter-content">

        <div class="chapter-intro">
          <p>Sliders let users select a value from a continuous or discrete range of values by moving the slider thumb. The smallest value is to the left, the largest to the right. Sliders can have icons to the left and right of the bar that reflect the value intensity. The interactive nature of the slider makes it a great choice for settings that reflect intensity levels, such as volume, brightness, or color saturation.</p>



        </div>

        <nav class="chapter-toc">
          <h1>Contents</h1>
          <ul>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="sliders.html#sliders-continuous-slider">Continuous slider
                </a>
            </li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="sliders.html#sliders-discrete-slider">Discrete slider
                </a>
            </li>
          </ul>
        </nav>

        <div class="article-list">
          <div id="sliders-continuous-slider" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
    Continuous slider
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
      <title id="title">Expand and collapse content</title>
      <desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
      <polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
    </svg>
  </h2>
            <div class="article-content">
              <div class="module-list">
                <div>
                  <section class="moduleE1">
                    <div class="module-body">
                      <p>Use continuous sliders for subjective settings that do not require a specific value for the user to make meaningful adjustments.</p>
                      <h4>Light</h4>
                      <p>Thumb on: Swatch 500, Alpha 100%
                        <br/>Track on: Swatch 500, Alpha 100%</p>
                      <p>Thumb off: #000000, Alpha 26%
                        <br/>Track off: #000000, Alpha 26%</p>
                      <p>Disabled (disconnected): #000000, Alpha 26%</p>
                    </div>
                    <div class="figure-group">
                      <div class="figure-row">
                        <figure class="">
                          <div class="media">
                            <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7QkJlRGNfTGEzQlE/components_sliders_continuous1.png" />
                          </div>
                          <figcaption>
                            <div class="caption-title">Light theme</div>
                          </figcaption>
                        </figure>
                      </div>
                    </div>
                  </section>
                </div>
                <div>
                  <section class="moduleE1">
                    <div class="module-body">
                      <h4>Dark</h4>
                      <p>Thumb on: Swatch 200, Alpha 100%
                        <br/>Track on: Swatch 200, Alpha 100%</p>
                      <p>Thumb off: #000000, Alpha 30%
                        <br/>Track off: #000000, Alpha 30%</p>
                      <p>Disabled (disconnected): #000000, Alpha 30%</p>
                    </div>
                    <div class="figure-group">
                      <div class="figure-row">
                        <figure class="">
                          <div class="media">
                            <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7R2s2OGFDcVRkZFE/components_sliders_continuous2.png" />
                          </div>
                          <figcaption>
                            <div class="caption-title">Dark theme</div>
                          </figcaption>
                        </figure>
                      </div>
                    </div>
                  </section>
                </div>
                <div>
                  <section class="moduleD1">
                    <div class="module-body">

                    </div>
                    <div class="figure-group">
                      <div class="figure-row">
                        <figure class="">
                          <div class="media">
                            <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                              <video id="1-None_0B0NGgBg38lWWUmVqMEI2d0t1b3M" crossorigin="anonymous" preload="metadata" loop controls>
                                <source src="components-sliders-continuousslider-061201_Slider_LightTheme_xhdpi_002.webm" type="video/webm" />
                                <source src="components-sliders-continuousslider-061201_Slider_LightTheme_xhdpi_002.mp4" type="video/mp4" />
                              </video>
                            </div>
                          </div>
                          <figcaption>
                            <div class="caption-title">Various slider behaviors</div>
                          </figcaption>
                        </figure>
                      </div>
                    </div>
                  </section>
                </div>
                <div>
                  <section class="moduleD1">
                    <div class="module-body">
                      <p>Spacing for icons to the left and/or right of the bar:</p>
                    </div>
                    <div class="figure-group">
                      <div class="figure-row">
                        <figure class="">
                          <div class="media">
                            <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7M0Voc2NyM3VheE0/components_sliders_continuous3.png" />
                          </div>
                        </figure>
                        <figure class="">
                          <div class="media">
                            <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7cG5vbFVudGNVRms/components_sliders_continuous4.png" />
                          </div>
                        </figure>
                      </div>
                    </div>
                  </section>
                </div>
                <div>
                  <section class="moduleD1">
                    <h3>With an editable numeric value</h3>
                    <div class="module-body">
                      <p>Use for settings for which users need to set the exact value. Upon pressing the thumb, the text box becomes editable.</p>
                    </div>
                    <div class="figure-group">
                      <div class="figure-row">
                        <figure class="">
                          <div class="media">
                            <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7dDFpcFo0V2JLS2c/components_sliders_continuous5.png" />
                          </div>
                        </figure>
                        <figure class="">
                          <div class="media">
                            <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7V29WTnNrd0JtY3c/components_sliders_continuous6.png" />
                          </div>
                        </figure>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
          <div id="sliders-discrete-slider" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
    Discrete slider
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
      <title id="title">Expand and collapse content</title>
      <desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
      <polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
    </svg>
  </h2>
            <div class="article-content">
              <div class="module-list">
                <div>
                  <section class="moduleB1">
                    <div class="module-body">
                      <p>The discrete slider thumb snaps to evenly spaced tick marks along the slider rail. Use for objective settings that require specific values for the user to make meaningful adjustments. Each tick mark should change the setting to a level that’s discernible to the user. The values are predetermined and aren’t user-editable.</p>
                    </div>
                  </section>

                </div>
                <div>
                  <section class="moduleE1">
                    <h3>With a numeric value label</h3>
                    <div class="module-body">
                      <p>Use for settings for which users need to know the exact value of the setting. </p>
                    </div>
                    <div class="figure-group">
                      <div class="figure-row">
                        <figure class="">
                          <div class="media">
                            <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7dEtQQ2s4VUZxZG8/components_sliders_discrete1.png" />
                          </div>
                          <figcaption>
                            <div class="caption-title">Light theme</div>
                          </figcaption>
                        </figure>
                        <figure class="">
                          <div class="media">
                            <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7WnY0a3RrcEI0ZXc/components_sliders_discrete2.png" />
                          </div>
                          <figcaption>
                            <div class="caption-title">Dark theme</div>
                          </figcaption>
                        </figure>
                      </div>
                    </div>
                  </section>
                </div>
                <div>
                  <section class="moduleD1">
                    <div class="module-body">

                    </div>
                    <div class="figure-group">
                      <div class="figure-row">
                        <figure class="">
                          <div class="media">
                            <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                              <video id="1-None_0B0NGgBg38lWWZ1BIYzJZY0pQVEE" crossorigin="anonymous" preload="metadata" loop controls>
                                <source src="components-sliders-discreteslider-061202_Slider_LightTheme_xhdpi_002.webm" type="video/webm" />
                                <source src="components-sliders-discreteslider-061202_Slider_LightTheme_xhdpi_002.mp4" type="video/mp4" />
                              </video>
                            </div>
                          </div>
                        </figure>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section>
  </div>

  <footer>
    <div class="footer-grid">
      <div class="footer-L section-components">&nbsp;</div>
      <div class="footer-grid-L section-components">
        <a class="footer-text" href="progress-activity.html">
          <img class="arrow-L" alt="" src="https://material-design.storage.googleapis.com/images/Arrow-left_24x24px.svg" />
          <span>Previous</span>
          <div>
            Progress &amp; activity
          </div>
        </a>
      </div>

      <div class="footer-R section-components">&nbsp;</div>
      <div class="footer-grid-R section-components">
        <a class="footer-text" href="snackbars-toasts.html">
          <img class="arrow-L" alt="" src="https://material-design.storage.googleapis.com/images/Arrow-right_24x24px.svg" />
          <span>Next</span>
          <div>
            Snackbars &amp; toasts
          </div>
        </a>
      </div>

    </div>
  </footer>
  <script src="https://www.gstatic.com/external_hosted/picturefill/picturefill.min.js"></script>
  <script src="../static/js/main.js"></script>


</body>

</html>
