<!DOCTYPE html>
<html class="qp-ui" data-qp-ui="{
  'Futurizr': {
    'hasTouch': 'touch'
  }
}">
  <head>
    <link href="../static/css/main.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width"/>
    <meta name="keywords" content=""/>
    <title>Snackbars &amp; toasts - Components - Google design guidelines</title>
    <meta itemprop="name" content="Snackbars & toasts - Components - Google design guidelines"/>
    <meta itemprop="image" content="https://material-design.storage.googleapis.com/publish/v_1/social.png"/>
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Snackbars & toasts - Components - Google design guidelines" />
    <meta property="og:image" content="https://material-design.storage.googleapis.com/publish/v_1/social.png" />
    <meta property="og:site_name" content="Google design guidelines" />
    <meta property="article:section" content="Snackbars & toasts - Components" />
<!--
<PageMap>
    <DataObject type="document">
      <Attribute name="uid"></Attribute>
      <Attribute name="title">Snackbars &amp; toasts</Attribute>
      <Attribute name="keywords"></Attribute>
      <Attribute name="slug"></Attribute>
      <Attribute name="description"></Attribute>
      <Attribute name="section_title">Components</Attribute>
      <Attribute name="section_slug">components</Attribute>
    </DataObject>
    <DataObject type="thumbnail">
      <Attribute name="src" value="" />
    </DataObject>
</PageMap>
-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51798601-1', 'auto');
  ga('send', 'pageview');
</script>
  </head>

  <body class="section-components noninitial-chapter qp-ui" data-qp-ui="{ 'Mask': {} }">
    <header>
  <div class="header-wrapper">
    <div class="header-title">      <span class="section-title">Components</span>
      <span class="chapter-title">Snackbars &amp; toasts</span>
    </div>
  </div>
</header>
<nav>
  <button class="hamburger-button qp-ui" data-qp-ui="{ 'SideNavToggle': {} }" role="tab">Show navigation</button>
</nav>        
<div id="side-nav" class="qp-ui" data-qp-ui="{ 'SideNavDrawer': {} }">
  <div class="side-nav-wrapper">
    <span id="logo"><img src="https://material-design.storage.googleapis.com/images/Google_Logo.svg" alt="Google logo"/></span>
    <nav>
      <dl>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Material design
                </dt>
        <dd>
                    <a class="" href="../index.html">Introduction
                    </a>
                  </dd>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">What is material?
                </dt>
        <dd>
                    <a class="" href="../what-is-material/environment.html">Environment
                    </a>
                    <a class="" href="../what-is-material/material-properties.html">Material properties
                    </a>
                    <a class="" href="../what-is-material/objects-in-3d-space.html">Objects in 3D space
                    </a>
                  </dd>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Animation
                </dt>
        <dd>
                    <a class="" href="../animation/authentic-motion.html">Authentic motion
                    </a>
                    <a class="" href="../animation/responsive-interaction.html">Responsive interaction
                    </a>
                    <a class="" href="../animation/meaningful-transitions.html">Meaningful transitions
                    </a>
                    <a class="" href="../animation/delightful-details.html">Delightful details
                    </a>
                  </dd>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Style
                </dt>
        <dd>
                    <a class="" href="../style/color.html">Color
                    </a>
                    <a class="" href="../style/icons.html">Icons
                    </a>
                    <a class="" href="../style/imagery.html">Imagery
                    </a>
                    <a class="" href="../style/typography.html">Typography
                    </a>
                  </dd>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Layout
                </dt>
        <dd>
                    <a class="" href="../layout/principles.html">Principles
                    </a>
                    <a class="" href="../layout/metrics-keylines.html">Metrics &amp; keylines
                    </a>
                    <a class="" href="../layout/structure.html">Structure
                    </a>
                  </dd>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': true }">Components
                </dt>
        <dd>
                    <a class="" href="bottom-sheets.html">Bottom sheets
                    </a>
                    <a class="" href="buttons.html">Buttons
                    </a>
                    <a class="" href="cards.html">Cards
                    </a>
                    <a class="" href="chips.html">Chips
                    </a>
                    <a class="" href="dialogs.html">Dialogs
                    </a>
                    <a class="" href="dividers.html">Dividers
                    </a>
                    <a class="" href="grids.html">Grids
                    </a>
                    <a class="" href="lists.html">Lists
                    </a>
                    <a class="" href="list-controls.html">List controls
                    </a>
                    <a class="" href="menus.html">Menus
                    </a>
                    <a class="" href="pickers.html">Pickers
                    </a>
                    <a class="" href="progress-activity.html">Progress &amp; activity
                    </a>
                    <a class="" href="sliders.html">Sliders
                    </a>
                    <a class="nav_selected" href="snackbars-toasts.html">Snackbars &amp; toasts
                    </a>
                    <a class="" href="subheaders.html">Subheaders
                    </a>
                    <a class="" href="switches.html">Switches
                    </a>
                    <a class="" href="tabs.html">Tabs
                    </a>
                    <a class="" href="text-fields.html">Text fields
                    </a>
                    <a class="" href="tooltips.html">Tooltips
                    </a>
                  </dd>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Patterns
                </dt>
        <dd>
                    <a class="" href="../patterns/data-formats.html">Data formats
                    </a>
                    <a class="" href="../patterns/errors.html">Errors
                    </a>
                    <a class="" href="../patterns/gestures.html">Gestures
                    </a>
                    <a class="" href="../patterns/loading-images.html">Loading images
                    </a>
                    <a class="" href="../patterns/navigation-drawer.html">Navigation drawer
                    </a>
                    <a class="" href="../patterns/navigational-transitions.html">Navigational transitions
                    </a>
                    <a class="" href="../patterns/scrolling-techniques.html">Scrolling techniques
                    </a>
                    <a class="" href="../patterns/search.html">Search
                    </a>
                    <a class="" href="../patterns/selection.html">Selection
                    </a>
                    <a class="" href="../patterns/settings.html">Settings
                    </a>
                    <a class="" href="../patterns/swipe-to-refresh.html">Swipe to refresh
                    </a>
                  </dd>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Usability
                </dt>
        <dd>
                    <a class="" href="../usability/accessibility.html">Accessibility
                    </a>
                    <a class="" href="../usability/bidirectionality.html">Bidirectionality
                    </a>
                  </dd>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Resources
                </dt>
        <dd>
                    <a class="" href="../resources/color-palettes.html">Color palettes
                              </a>
                    <a class="" href="../resources/layout-templates.html">Layout templates
                    </a>
                    <a class="" href="../resources/roboto-noto-fonts.html">Roboto &amp; Noto fonts
                    </a>
                    <a class="" href="../resources/sticker-sheets-icons.html">Sticker sheets &amp; icons
                    </a>
                  </dd>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">What&#39;s new
                        </dt>
        <dd>
                    <a class="" href="../whats-new/whats-new.html">What&#39;s new
                    </a>
                  </dd>
              </dl>
    </nav>
    <div class="legal">
      <p class="copyright">Google &copy;</p>
      <a href="http://www.google.com/intl/en/policies/privacy/">Privacy</a> &amp; <a href="http://www.google.com/intl/en/policies/terms/">Terms</a>
    </div>
  </div>
</div>

    <div id="grid-cont">
      <section class="grid_outer chapter">
  <h1 class="chapter-title">Snackbars &amp; toasts
      </h1>

  <div class="chapter-content">
        
        <div class="chapter-intro">
       <p>Snackbars provide lightweight feedback about an operation. They show a brief message at the bottom of the screen on mobile and lower left on desktop. Snackbars appear above all other elements on screen. Snackbars can contain an action.</p><p>They automatically disappear after a timeout or after user interaction elsewhere on the screen, particularly after interactions that summon a new surface or activity. Snackbars can be swiped off screen. They do not block input on the screens on which they appear. Show only one snackbar on screen at a time. </p><p>Android also provides a capsule-shaped toast, primarily used for system messaging. Toasts are similar to snackbars but do not contain actions and cannot be swiped off screen.</p>

      
      
    </div>
    
        <nav class="chapter-toc">
      <h1>Contents</h1>
      <ul>
                <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="snackbars-toasts.html#snackbars-toasts-usage">Usage
                </a></li>
                <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="snackbars-toasts.html#snackbars-toasts-specs">Specs
                </a></li>
              </ul>
    </nav>
    
    <div class="article-list">
                        <div id="snackbars-toasts-usage" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
  <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
    Usage
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
      <title id="title">Expand and collapse content</title>
      <desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
      <polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
    </svg>
  </h2>
  <div class="article-content">
    <div class="module-list">
                  <div>
          <section class="moduleD1">
      <h3>Very short text strings</h3>
    <div class="module-body">
    <p>Snackbars should generally only be tall enough to accommodate one string, and the string should be directly related to the operation performed. They cannot contain icons or action icons. Actions are in the form of text. </p>
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="example do">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7M2QzbjlPWUwtcXc/components_toasts_usage1.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Do.</div>
        </figcaption>
                </figure>
            <figure class="example dont">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7YzA0VE1uS0xPd2s/components_toasts_usage2.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Don't.</div>
        </figcaption>
                </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleD1">
      <h3>Transient</h3>
    <div class="module-body">
    <p>For usability, snackbars should not contain the only way to access a core use case. They should not be persistent or stack, as they are above other elements on screen. </p>
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="example do">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7cno2UTE4MmEwQlE/components_toasts_usage3.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Do.</div>
        </figcaption>
                </figure>
            <figure class="example dont">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7ZDd4OXY0X0t3cEE/components_toasts_usage4.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Don't.</div>
        </figcaption>
                </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleD1">
      <h3>0-1 actions, not dismiss or cancel</h3>
    <div class="module-body">
    <p>If an action is present, comply with dialog spacing and affordance rules. For two or more actions, use a dialog, not a snackbar, even when one of the actions is a dismiss action. If the action described in the snackbar is important enough to block the use of the screen, it should be a dialog. </p>
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="example do">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7Mm5pd0t5VmVRb1U/components_toasts_usage5.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Do.</div>
        </figcaption>
                </figure>
            <figure class="example dont">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7Mm02RldQdm5XWTA/components_toasts_usage6.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Don't.</div>
        </figcaption>
                </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleD1">
      <h3>Don’t block the floating action button</h3>
    <div class="module-body">
    <p>Move your floating action button vertically to accommodate the snackbar height. </p>
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="example do">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7cWV6SE9KeFVnVjg/components_toasts_usage7.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Do.</div>
        </figcaption>
                </figure>
            <figure class="example dont">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7SlBKblM1TTlSd3c/components_toasts_usage8.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Don't.</div>
        </figcaption>
                </figure>
          </div>
  </div>
</section>
        </div>
              </div>
  </div>
</div>                  <div id="snackbars-toasts-specs" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
  <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
    Specs
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
      <title id="title">Expand and collapse content</title>
      <desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
      <polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
    </svg>
  </h2>
  <div class="article-content">
    <div class="module-list">
                  <div>
          <section class="moduleD1">
      <h3>Mobile snackbar</h3>
    <div class="module-body">
    <ul><li><span>Single-line snackbar height: 48dp </span></li><li><span>Multi-line snackbar height: 80dp</span></li><li><span>Text: Roboto Regular 14sp</span></li><li><span>Action button: Roboto Medium 14sp, all-caps text</span></li><li><span>Default background fill: #323232 100% </span></li></ul>
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7Tk5GSDhzNUp1SzA/components_toasts_mobile1.png" />
                    </div>
                        </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7a0VoZldpaG14ODQ/components_toasts_mobile2.png" />
                    </div>
                        </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleD1">
    <div class="module-body">
    
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
              <video id="1-None_0B0NGgBg38lWWVHFGQWVfN0VFSFE" crossorigin="anonymous" preload="metadata"  loop  controls>
                              <source src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0B0NGgBg38lWWZFcwa2wyTG1ybE0/components-snackbarstoasts-spec-061302_Mobile_Snackbar_xhdpi_002.webm" type="video/webm" />
                                            <source src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0B0NGgBg38lWWVHFGQWVfN0VFSFE/components-snackbarstoasts-spec-061302_Mobile_Snackbar_xhdpi_002.mp4" type="video/mp4" />
                            </video>
            </div>
                    </div>
                        </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleE1">
    <div class="module-body">
    
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7MjVaNzd6aFlVdlU/components_toasts_mobile3.png" />
                    </div>
                      </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleE1">
      <h3>Tablet/desktop snackbar</h3>
    <div class="module-body">
    <ul><li><span>Single-line snackbar height: 48dp tall</span></li><li><span>Minimum width: 288dp</span></li><li><span>Maximum width:  568dp</span></li><li><span>2dp rounded corner</span></li><li><span>Text: Roboto Regular 14sp</span></li><li><span>Action button: Roboto Medium 14sp, all-caps text</span></li><li><span>Default background fill: #323232 100%  </span></li></ul>
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7eFVNaUpBeVdTb1U/components_toasts_tabletdesktop1.png" />
                    </div>
                      </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleE1">
    <div class="module-body">
    
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7bjM5V3Nxb09sQms/components_toasts_tabletdesktop2.png" />
                    </div>
                      </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleE1">
    <div class="module-body">
    
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7TU95TVFabThhTEU/components_toasts_tabletdesktop3.png" />
                    </div>
                      </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleE1">
    <div class="module-body">
    
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
              <video id="1-None_0B0NGgBg38lWWT3R3b3k3cDI0Q28" crossorigin="anonymous" preload="metadata" loop  controls>
                              <source src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0B0NGgBg38lWWV3RmVzk4Zm1kenc/components-snackbarstoasts-spec-061302_Tablet_Snackbar_xhdpi_003.webm" type="video/webm" />
                                            <source src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0B0NGgBg38lWWT3R3b3k3cDI0Q28/components-snackbarstoasts-spec-061302_Tablet_Snackbar_xhdpi_003.mp4" type="video/mp4" />
                            </video>
            </div>
                    </div>
                      </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleE1">
      <h3>Android toast</h3>
    <div class="module-body">
    <p>Developers can create custom toasts or custom screen placements for them. If making a custom toast, you are strongly encouraged to adhere to the snackbar style provided above. </p>
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7V2RCS3F5NDlOM2c/components_toasts_android1.png" />
                    </div>
                      </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleE1">
    <div class="module-body">
    
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7emxxMy1oZHFSODQ/components_toasts_android2.png" />
                    </div>
                      </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleE1">
    <div class="module-body">
    
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7WGZHVzdMbzY2Q2c/components_toasts_android3.png" />
                    </div>
                      </figure>
          </div>
  </div>
</section>
        </div>
              </div>
  </div>
</div>                  </div>

  </div>

</section>    </div>

    <footer>
  <div class="footer-grid">
    <div class="footer-L section-components">&nbsp;</div>
    <div class="footer-grid-L section-components">
            <a class="footer-text" href="sliders.html">
        <img class="arrow-L" alt="" src="https://material-design.storage.googleapis.com/images/Arrow-left_24x24px.svg"/>
        <span>Previous</span>
        <div>
                      Sliders
                  </div>
      </a>
          </div>

    <div class="footer-R section-components">&nbsp;</div>
    <div class="footer-grid-R section-components">
            <a class="footer-text" href="subheaders.html">
        <img class="arrow-L" alt="" src="https://material-design.storage.googleapis.com/images/Arrow-right_24x24px.svg"/>
        <span>Next</span>
        <div>
                      Subheaders
                  </div>
      </a>
          </div>

  </div>
</footer>
    <script src="https://www.gstatic.com/external_hosted/picturefill/picturefill.min.js"></script>
    <script src="../static/js/main.js"></script>


  </body>

</html>