[md-color=red],[md-color=red-500] {
  background-color: #e51c23;
}
[md-color=red-50] {
  background-color: #fde0dc;
}
[md-color=red-100] {
  background-color: #f9bdbb;
}
[md-color=red-200] {
  background-color: #f69988;
}
[md-color=red-300] {
  background-color: #f36c60;
}
[md-color=red-400] {
  background-color: #e84e40;
}
[md-color=red-600] {
  background-color: #dd191d;
}
[md-color=red-700] {
  background-color: #d01716;
}
[md-color=red-800] {
  background-color: #c41411;
}
[md-color=red-900] {
  background-color: #b0120a;
}
[md-color=red-a100] {
  background-color: #ff7997;
}
[md-color=red-a200] {
  background-color: #ff5177;
}
[md-color=red-a400] {
  background-color: #ff2d6f;
}
[md-color=red-a700] {
  background-color: #e00032;
}




[md-color=pink],[md-color=pink-500] {
  background-color: #e91e63;
}
[md-color=pink-50] {
  background-color: #fce4ec;
}
[md-color=pink-100] {
  background-color: #f8bbd0;
}
[md-color=pink-200] {
  background-color: #f48fb1;
}
[md-color=pink-300] {
  background-color: #f06292;
}
[md-color=pink-400] {
  background-color: #ec407a;
}
[md-color=pink-600] {
  background-color: #d81b60;
}
[md-color=pink-700] {
  background-color: #c2185b;
}
[md-color=pink-800] {
  background-color: #ad1457;
}
[md-color=pink-900] {
  background-color: #880e4f;
}
[md-color=pink-a100] {
  background-color: #ff80ab;
}
[md-color=pink-a200] {
  background-color: #ff4081;
}
[md-color=pink-a400] {
  background-color: #f50057;
}
[md-color=pink-a700] {
  background-color: #c51162;
}




[md-color=purple],[md-color=purple-500] {
  background-color: #e51c23;
}
[md-color=purple-50] {
  background-color: #fde0dc;
}
[md-color=purple-100] {
  background-color: #f9bdbb;
}
[md-color=purple-200] {
  background-color: #f69988;
}
[md-color=purple-300] {
  background-color: #f36c60;
}
[md-color=purple-400] {
  background-color: #e84e40;
}
[md-color=purple-600] {
  background-color: #dd191d;
}
[md-color=purple-700] {
  background-color: #d01716;
}
[md-color=purple-800] {
  background-color: #c41411;
}
[md-color=purple-900] {
  background-color: #b0120a;
}
[md-color=purple-a100] {
  background-color: #ff7997;
}
[md-color=purple-a200] {
  background-color: #ff5177;
}
[md-color=purple-a400] {
  background-color: #ff2d6f;
}
[md-color=purple-a700] {
  background-color: #e00032;
}




[md-color=deep-purple],[md-color=deep-purple-500] {
  background-color: #e51c23;
}
[md-color=deep-purple-50] {
  background-color: #fde0dc;
}
[md-color=deep-purple-100] {
  background-color: #f9bdbb;
}
[md-color=deep-purple-200] {
  background-color: #f69988;
}
[md-color=deep-purple-300] {
  background-color: #f36c60;
}
[md-color=deep-purple-400] {
  background-color: #e84e40;
}
[md-color=deep-purple-600] {
  background-color: #dd191d;
}
[md-color=deep-purple-700] {
  background-color: #d01716;
}
[md-color=deep-purple-800] {
  background-color: #c41411;
}
[md-color=deep-purple-900] {
  background-color: #b0120a;
}
[md-color=deep-purple-a100] {
  background-color: #ff7997;
}
[md-color=deep-purple-a200] {
  background-color: #ff5177;
}
[md-color=deep-purple-a400] {
  background-color: #ff2d6f;
}
[md-color=deep-purple-a700] {
  background-color: #e00032;
}




[md-color=indigo],[md-color=indigo-500] {
  background-color: #e51c23;
}
[md-color=indigo-50] {
  background-color: #fde0dc;
}
[md-color=indigo-100] {
  background-color: #f9bdbb;
}
[md-color=indigo-200] {
  background-color: #f69988;
}
[md-color=indigo-300] {
  background-color: #f36c60;
}
[md-color=indigo-400] {
  background-color: #e84e40;
}
[md-color=indigo-600] {
  background-color: #dd191d;
}
[md-color=indigo-700] {
  background-color: #d01716;
}
[md-color=indigo-800] {
  background-color: #c41411;
}
[md-color=indigo-900] {
  background-color: #b0120a;
}
[md-color=indigo-a100] {
  background-color: #ff7997;
}
[md-color=indigo-a200] {
  background-color: #ff5177;
}
[md-color=indigo-a400] {
  background-color: #ff2d6f;
}
[md-color=indigo-a700] {
  background-color: #e00032;
}




[md-color=blue],[md-color=blue-500] {
  background-color: #5677fc;
}
[md-color=blue-50] {
  background-color: #e7e9fd;
}
[md-color=blue-100] {
  background-color: #d0d9ff;
}
[md-color=blue-200] {
  background-color: #afbfff;
}
[md-color=blue-300] {
  background-color: #91a7ff;
}
[md-color=blue-400] {
  background-color: #738ffe;
}
[md-color=blue-600] {
  background-color: #4e6cef;
}
[md-color=blue-700] {
  background-color: #455ede;
}
[md-color=blue-800] {
  background-color: #3b50ce;
}
[md-color=blue-900] {
  background-color: #2a36b1;
}
[md-color=blue-a100] {
  background-color: #a6baff;
}
[md-color=blue-a200] {
  background-color: #6889ff;
}
[md-color=blue-a400] {
  background-color: #4d73ff;
}
[md-color=blue-a700] {
  background-color: #4d69ff;
}




[md-color=light-blue],[md-color=light-blue-500] {
  background-color: #e51c23;
}
[md-color=light-blue-50] {
  background-color: #fde0dc;
}
[md-color=light-blue-100] {
  background-color: #f9bdbb;
}
[md-color=light-blue-200] {
  background-color: #f69988;
}
[md-color=light-blue-300] {
  background-color: #f36c60;
}
[md-color=light-blue-400] {
  background-color: #e84e40;
}
[md-color=light-blue-600] {
  background-color: #dd191d;
}
[md-color=light-blue-700] {
  background-color: #d01716;
}
[md-color=light-blue-800] {
  background-color: #c41411;
}
[md-color=light-blue-900] {
  background-color: #b0120a;
}
[md-color=light-blue-a100] {
  background-color: #ff7997;
}
[md-color=light-blue-a200] {
  background-color: #ff5177;
}
[md-color=light-blue-a400] {
  background-color: #ff2d6f;
}
[md-color=light-blue-a700] {
  background-color: #e00032;
}




[md-color=cyan],[md-color=cyan-500] {
  background-color: #00bcd4;
}
[md-color=cyan-50] {
  background-color: #e0f7fa;
}
[md-color=cyan-100] {
  background-color: #b2ebf2;
}
[md-color=cyan-200] {
  background-color: #80deea;
}
[md-color=cyan-300] {
  background-color: #4dd0e1;
}
[md-color=cyan-400] {
  background-color: #26c6da;
}
[md-color=cyan-600] {
  background-color: #00acc1;
}
[md-color=cyan-700] {
  background-color: #0097a7;
}
[md-color=cyan-800] {
  background-color: #00838f;
}
[md-color=cyan-900] {
  background-color: #006064;
}
[md-color=cyan-a100] {
  background-color: #84ffff;
}
[md-color=cyan-a200] {
  background-color: #18ffff;
}
[md-color=cyan-a400] {
  background-color: #4d69ff;
}
[md-color=cyan-a700] {
  background-color: #00b8d4;
}




[md-color=teal],[md-color=teal-500] {
  background-color: #e51c23;
}
[md-color=teal-50] {
  background-color: #fde0dc;
}
[md-color=teal-100] {
  background-color: #f9bdbb;
}
[md-color=teal-200] {
  background-color: #f69988;
}
[md-color=teal-300] {
  background-color: #f36c60;
}
[md-color=teal-400] {
  background-color: #e84e40;
}
[md-color=teal-600] {
  background-color: #dd191d;
}
[md-color=teal-700] {
  background-color: #d01716;
}
[md-color=teal-800] {
  background-color: #c41411;
}
[md-color=teal-900] {
  background-color: #b0120a;
}
[md-color=teal-a100] {
  background-color: #ff7997;
}
[md-color=teal-a200] {
  background-color: #ff5177;
}
[md-color=teal-a400] {
  background-color: #ff2d6f;
}
[md-color=teal-a700] {
  background-color: #e00032;
}




[md-color=green],[md-color=green-500] {
  background-color: #e51c23;
}
[md-color=green-50] {
  background-color: #fde0dc;
}
[md-color=green-100] {
  background-color: #f9bdbb;
}
[md-color=green-200] {
  background-color: #f69988;
}
[md-color=green-300] {
  background-color: #f36c60;
}
[md-color=green-400] {
  background-color: #e84e40;
}
[md-color=green-600] {
  background-color: #dd191d;
}
[md-color=green-700] {
  background-color: #d01716;
}
[md-color=green-800] {
  background-color: #c41411;
}
[md-color=green-900] {
  background-color: #b0120a;
}
[md-color=green-a100] {
  background-color: #ff7997;
}
[md-color=green-a200] {
  background-color: #ff5177;
}
[md-color=green-a400] {
  background-color: #ff2d6f;
}
[md-color=green-a700] {
  background-color: #e00032;
}




[md-color=light-green],[md-color=light-green-500] {
  background-color: #e51c23;
}
[md-color=light-green-50] {
  background-color: #fde0dc;
}
[md-color=light-green-100] {
  background-color: #f9bdbb;
}
[md-color=light-green-200] {
  background-color: #f69988;
}
[md-color=light-green-300] {
  background-color: #f36c60;
}
[md-color=light-green-400] {
  background-color: #e84e40;
}
[md-color=light-green-600] {
  background-color: #dd191d;
}
[md-color=light-green-700] {
  background-color: #d01716;
}
[md-color=light-green-800] {
  background-color: #c41411;
}
[md-color=light-green-900] {
  background-color: #b0120a;
}
[md-color=light-green-a100] {
  background-color: #ff7997;
}
[md-color=light-green-a200] {
  background-color: #ff5177;
}
[md-color=light-green-a400] {
  background-color: #ff2d6f;
}
[md-color=light-green-a700] {
  background-color: #e00032;
}




[md-color=lime],[md-color=lime-500] {
  background-color: #e51c23;
}
[md-color=lime-50] {
  background-color: #fde0dc;
}
[md-color=lime-100] {
  background-color: #f9bdbb;
}
[md-color=lime-200] {
  background-color: #f69988;
}
[md-color=lime-300] {
  background-color: #f36c60;
}
[md-color=lime-400] {
  background-color: #e84e40;
}
[md-color=lime-600] {
  background-color: #dd191d;
}
[md-color=lime-700] {
  background-color: #d01716;
}
[md-color=lime-800] {
  background-color: #c41411;
}
[md-color=lime-900] {
  background-color: #b0120a;
}
[md-color=lime-a100] {
  background-color: #ff7997;
}
[md-color=lime-a200] {
  background-color: #ff5177;
}
[md-color=lime-a400] {
  background-color: #ff2d6f;
}
[md-color=lime-a700] {
  background-color: #e00032;
}




[md-color=yellow],[md-color=yellow-500] {
  background-color: #e51c23;
}
[md-color=yellow-50] {
  background-color: #fde0dc;
}
[md-color=yellow-100] {
  background-color: #f9bdbb;
}
[md-color=yellow-200] {
  background-color: #f69988;
}
[md-color=yellow-300] {
  background-color: #f36c60;
}
[md-color=yellow-400] {
  background-color: #e84e40;
}
[md-color=yellow-600] {
  background-color: #dd191d;
}
[md-color=yellow-700] {
  background-color: #d01716;
}
[md-color=yellow-800] {
  background-color: #c41411;
}
[md-color=yellow-900] {
  background-color: #b0120a;
}
[md-color=yellow-a100] {
  background-color: #ff7997;
}
[md-color=yellow-a200] {
  background-color: #ff5177;
}
[md-color=yellow-a400] {
  background-color: #ff2d6f;
}
[md-color=yellow-a700] {
  background-color: #e00032;
}




[md-color=amber],[md-color=amber-500] {
  background-color: #e51c23;
}
[md-color=amber-50] {
  background-color: #fde0dc;
}
[md-color=amber-100] {
  background-color: #f9bdbb;
}
[md-color=amber-200] {
  background-color: #f69988;
}
[md-color=amber-300] {
  background-color: #f36c60;
}
[md-color=amber-400] {
  background-color: #e84e40;
}
[md-color=amber-600] {
  background-color: #dd191d;
}
[md-color=amber-700] {
  background-color: #d01716;
}
[md-color=amber-800] {
  background-color: #c41411;
}
[md-color=amber-900] {
  background-color: #b0120a;
}
[md-color=amber-a100] {
  background-color: #ff7997;
}
[md-color=amber-a200] {
  background-color: #ff5177;
}
[md-color=amber-a400] {
  background-color: #ff2d6f;
}
[md-color=amber-a700] {
  background-color: #e00032;
}




[md-color=orange],[md-color=orange-500] {
  background-color: #e51c23;
}
[md-color=orange-50] {
  background-color: #fde0dc;
}
[md-color=orange-100] {
  background-color: #f9bdbb;
}
[md-color=orange-200] {
  background-color: #f69988;
}
[md-color=orange-300] {
  background-color: #f36c60;
}
[md-color=orange-400] {
  background-color: #e84e40;
}
[md-color=orange-600] {
  background-color: #dd191d;
}
[md-color=orange-700] {
  background-color: #d01716;
}
[md-color=orange-800] {
  background-color: #c41411;
}
[md-color=orange-900] {
  background-color: #b0120a;
}
[md-color=orange-a100] {
  background-color: #ff7997;
}
[md-color=orange-a200] {
  background-color: #ff5177;
}
[md-color=orange-a400] {
  background-color: #ff2d6f;
}
[md-color=orange-a700] {
  background-color: #e00032;
}




[md-color=deep-orange],[md-color=deep-orange-500] {
  background-color: #e51c23;
}
[md-color=deep-orange-50] {
  background-color: #fde0dc;
}
[md-color=deep-orange-100] {
  background-color: #f9bdbb;
}
[md-color=deep-orange-200] {
  background-color: #f69988;
}
[md-color=deep-orange-300] {
  background-color: #f36c60;
}
[md-color=deep-orange-400] {
  background-color: #e84e40;
}
[md-color=deep-orange-600] {
  background-color: #dd191d;
}
[md-color=deep-orange-700] {
  background-color: #d01716;
}
[md-color=deep-orange-800] {
  background-color: #c41411;
}
[md-color=deep-orange-900] {
  background-color: #b0120a;
}
[md-color=deep-orange-a100] {
  background-color: #ff7997;
}
[md-color=deep-orange-a200] {
  background-color: #ff5177;
}
[md-color=deep-orange-a400] {
  background-color: #ff2d6f;
}
[md-color=deep-orange-a700] {
  background-color: #e00032;
}




[md-color=brown],[md-color=brown-500] {
  background-color: #e51c23;
}
[md-color=brown-50] {
  background-color: #fde0dc;
}
[md-color=brown-100] {
  background-color: #f9bdbb;
}
[md-color=brown-200] {
  background-color: #f69988;
}
[md-color=brown-300] {
  background-color: #f36c60;
}
[md-color=brown-400] {
  background-color: #e84e40;
}
[md-color=brown-600] {
  background-color: #dd191d;
}
[md-color=brown-700] {
  background-color: #d01716;
}
[md-color=brown-800] {
  background-color: #c41411;
}
[md-color=brown-900] {
  background-color: #b0120a;
}




[md-color=grey],[md-color=grey-500] {
  background-color: #e51c23;
}
[md-color=grey-50] {
  background-color: #fde0dc;
}
[md-color=grey-100] {
  background-color: #f9bdbb;
}
[md-color=grey-200] {
  background-color: #f69988;
}
[md-color=grey-300] {
  background-color: #f36c60;
}
[md-color=grey-400] {
  background-color: #e84e40;
}
[md-color=grey-600] {
  background-color: #dd191d;
}
[md-color=grey-700] {
  background-color: #d01716;
}
[md-color=grey-800] {
  background-color: #c41411;
}
[md-color=grey-900] {
  background-color: #b0120a;
}
[md-color=grey-b1000] {
  background-color: #000000;
}




[md-color=blue-grey],[md-color=blue-grey-500] {
  background-color: #e51c23;
}
[md-color=blue-grey-50] {
  background-color: #fde0dc;
}
[md-color=blue-grey-100] {
  background-color: #f9bdbb;
}
[md-color=blue-grey-200] {
  background-color: #f69988;
}
[md-color=blue-grey-300] {
  background-color: #f36c60;
}
[md-color=blue-grey-400] {
  background-color: #e84e40;
}
[md-color=blue-grey-600] {
  background-color: #dd191d;
}
[md-color=blue-grey-700] {
  background-color: #d01716;
}
[md-color=blue-grey-800] {
  background-color: #c41411;
}
[md-color=blue-grey-900] {
  background-color: #b0120a;
}




[md-color=white],[md-color=grey-w1000] {
  background-color: #ffffff;
}
[md-color=transparent] {
  background-color: transparent;
}