[md-font-color=red],[md-font-color=red-500] {
  color: #e51c23;
}
[md-font-color=red-50] {
  color: #fde0dc;
}
[md-font-color=red-100] {
  color: #f9bdbb;
}
[md-font-color=red-200] {
  color: #f69988;
}
[md-font-color=red-300] {
  color: #f36c60;
}
[md-font-color=red-400] {
  color: #e84e40;
}
[md-font-color=red-600] {
  color: #dd191d;
}
[md-font-color=red-700] {
  color: #d01716;
}
[md-font-color=red-800] {
  color: #c41411;
}
[md-font-color=red-900] {
  color: #b0120a;
}
[md-font-color=red-a100] {
  color: #ff7997;
}
[md-font-color=red-a200] {
  color: #ff5177;
}
[md-font-color=red-a400] {
  color: #ff2d6f;
}
[md-font-color=red-a700] {
  color: #e00032;
}




[md-font-color=pink],[md-font-color=pink-500] {
  color: #e91e63;
}
[md-font-color=pink-50] {
  color: #fce4ec;
}
[md-font-color=pink-100] {
  color: #f8bbd0;
}
[md-font-color=pink-200] {
  color: #f48fb1;
}
[md-font-color=pink-300] {
  color: #f06292;
}
[md-font-color=pink-400] {
  color: #ec407a;
}
[md-font-color=pink-600] {
  color: #d81b60;
}
[md-font-color=pink-700] {
  color: #c2185b;
}
[md-font-color=pink-800] {
  color: #ad1457;
}
[md-font-color=pink-900] {
  color: #880e4f;
}
[md-font-color=pink-a100] {
  color: #ff80ab;
}
[md-font-color=pink-a200] {
  color: #ff4081;
}
[md-font-color=pink-a400] {
  color: #f50057;
}
[md-font-color=pink-a700] {
  color: #c51162;
}




[md-font-color=blue],[md-font-color=blue-500] {
  color: #5677fc;
}
[md-font-color=blue-50] {
  color: #e7e9fd;
}
[md-font-color=blue-100] {
  color: #d0d9ff;
}
[md-font-color=blue-200] {
  color: #afbfff;
}
[md-font-color=blue-300] {
  color: #91a7ff;
}
[md-font-color=blue-400] {
  color: #738ffe;
}
[md-font-color=blue-600] {
  color: #4e6cef;
}
[md-font-color=blue-700] {
  color: #455ede;
}
[md-font-color=blue-800] {
  color: #3b50ce;
}
[md-font-color=blue-900] {
  color: #2a36b1;
}
[md-font-color=blue-a100] {
  color: #a6baff;
}
[md-font-color=blue-a200] {
  color: #6889ff;
}
[md-font-color=blue-a400] {
  color: #4d73ff;
}
[md-font-color=blue-a700] {
  color: #4d69ff;
}




[md-font-color=cyan],[md-font-color=cyan-500] {
  color: #00bcd4;
}
[md-font-color=cyan-50] {
  color: #e0f7fa;
}
[md-font-color=cyan-100] {
  color: #b2ebf2;
}
[md-font-color=cyan-200] {
  color: #80deea;
}
[md-font-color=cyan-300] {
  color: #4dd0e1;
}
[md-font-color=cyan-400] {
  color: #26c6da;
}
[md-font-color=cyan-600] {
  color: #00acc1;
}
[md-font-color=cyan-700] {
  color: #0097a7;
}
[md-font-color=cyan-800] {
  color: #00838f;
}
[md-font-color=cyan-900] {
  color: #006064;
}
[md-font-color=cyan-a100] {
  color: #84ffff;
}
[md-font-color=cyan-a200] {
  color: #18ffff;
}
[md-font-color=cyan-a400] {
  color: #4d69ff;
}
[md-font-color=cyan-a700] {
  color: #00b8d4;
}




[md-font-color=white] {
  color: #ffffff;
}
[md-font-color=transparent] {
  color: transparent;
}