@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(typography/roboto-light.ttf) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(typography/roboto-regular.ttf) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(typography/roboto-medium.ttf) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(typography/roboto-bold.ttf) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}



.t-display-4 {
  font-size: 112px;
  font-weight: 300;
  color: rgba(33, 33, 33, 0.54);
}
.t-display-3 {
  font-size: 56px;
  font-weight: 400;
  color: rgba(33, 33, 33, 0.54);
}
.t-display-2 {
  font-size: 45px;
  font-weight: 400;
  color: rgba(33, 33, 33, 0.54);
  line-height: 48px;
}
.t-display-1 {
  font-size: 34px;
  font-weight: 400;
  color: rgba(33, 33, 33, 0.54);
  line-height: 40px;
}
.t-headline {
  font-size: 24px;
  font-weight: 400;
  color: rgba(33, 33, 33, 0.87);
  line-height: 32px;
}
.t-title {
  font-size: 20px;
  font-weight: 500;
  color: rgba(33, 33, 33, 0.87);
}
.t-subhead,.t-subhead-leading-1 {
  font-size: 15px;
  font-weight: 400;
  color: rgba(33, 33, 33, 0.87);
  line-height: 24px;
}
.t-subhead-leading-2 {
  line-height: 28px;
}
.t-body-2 {
  font-size: 13px;
  font-weight: 500;
  color: rgba(33, 33, 33, 0.87);
  line-height: 24px;
}
.t-body-1 {
  font-size: 13px;
  font-weight: 400;
  color: rgba(33, 33, 33, 0.87);
  line-height: 20px;
}
.t-caption {
  font-size: 12px;
  font-weight: 400;
  color: rgba(33, 33, 33, 0.54);
}
.t-menu {
  font-size: 13px;
  font-weight: 500;
  color: rgba(33, 33, 33, 0.87);
}
.t-button {
  font-size: 14px;
  font-weight: 500;
  color: rgba(33, 33, 33, 0.87);
}