@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(typography/roboto-light.ttf) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(typography/roboto-regular.ttf) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(typography/roboto-medium.ttf) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(typography/roboto-bold.ttf) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}




html * {
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
}
p,span {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}




*[md-typo=display-4] {
  font-size: 112px;
  font-weight: 300;
  white-space: nowrap;
  color: #757575;
  margin: 0 -0.089em;
  line-height: 120px; /* Not official */
  letter-spacing: -.044em;
}
*[md-typo=display-3] {
  font-size: 56px;
  font-weight: 400;
  white-space: nowrap;
  color: #757575;
  margin: 0 -0.082em;
  line-height: 60px; /* Not official */
  letter-spacing: -.026em;
}
*[md-typo=display-2] {
  font-size: 45px;
  font-weight: 400;
  color: #757575;
  margin: 0 -0.08em;
  line-height: 48px;
  letter-spacing: -.018em;
}
*[md-typo=display-1] {
  font-size: 34px;
  font-weight: 400;
  color: #757575;
  margin: 0 -0.08em;
  line-height: 40px;
  letter-spacing: -.01em;
}
*[md-typo=headline] {
  font-size: 24px;
  font-weight: 400;
  color: #212121;
  margin: 0 -0.078em;
  line-height: 32px;
  letter-spacing: -.012em;
}
*[md-typo=title] {
  font-size: 20px;
  font-weight: 500;
  white-space: nowrap;
  color: #212121;
  line-height: 28px;  /* Not official */
  margin: 0 -0.07em;
}
*[md-typo=subhead],*[md-typo=subhead-leading-1] {
  font-weight: 400;
  color: #212121;
  margin: 0 -0.068em;
  line-height: 24px;
}
*[md-typo=subhead-leading-2] {
  line-height: 28px;
}
*[md-typo=body-2] {
  font-weight: 500;
  color: #212121;
  margin: 0 -0.068em;
  line-height: 24px;
}
*[md-typo=body],*[md-typo=body-1] {
  font-weight: 400;
  color: #212121;
  margin: 0 -0.074em;
  line-height: 20px;
}
*[md-typo=caption] {
  font-size: 12px;
  font-weight: 400;
  white-space: nowrap;
  color: #757575;
  line-height: 20px;  /* Not official */
  margin: 0 -0.04em;
  letter-spacing: 0.011em;
}
*[md-typo=menu] {
  font-weight: 500;
  white-space: nowrap;
  color: #212121;
  line-height: 24px;  /* Not official */
  margin: 0 -0.068em;
}
*[md-typo=button] {
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  color: #212121;
  line-height: 24px;  /* Not official */
  margin: 0 -0.068em;
  text-transform: uppercase;
  letter-spacing: 0.018em;
}



/* DEVICE */
@media only screen
and (max-width: 789px) {
  *[md-typo=subhead] {
    font-size: 16px;
  }
  *[md-typo=body-1],*[md-typo=body-2],*[md-typo=menu] {
    font-size: 14px;
  }
}
/* DESKTOP */
@media only screen
and (min-width: 789px) {
  *[md-typo=subhead] {
    font-size: 15px;
  }
  *[md-typo=body-1],*[md-typo=body-2],*[md-typo=menu] {
    font-size: 13px;
  }
}




.t-wrap {
  white-space: normal;
}
.t-nowrap {
  white-space: nowrap;
}
.t-ellipsis {
  text-overflow: ellipsis;
}
.t-select {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  /* No support for these yet, maybe someday */
  -o-user-select: text;
  user-select: text;
}
.t-noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  /* No support for these yet, maybe someday */
  -o-user-select: none;
  user-select: none;
}




.t-text {
  font-color: rgb()
}