<!DOCTYPE html>
<html class="qp-ui" data-qp-ui="{
  'Futurizr': {
    'hasTouch': 'touch'
  }
}">
  <head>
    <link href="../static/css/main.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width"/>
    <meta name="keywords" content=""/>
    <title>Text fields - Components - Google design guidelines</title>
    <meta itemprop="name" content="Text fields - Components - Google design guidelines"/>
    <meta itemprop="image" content="https://material-design.storage.googleapis.com/publish/v_1/social.png"/>
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Text fields - Components - Google design guidelines" />
    <meta property="og:image" content="https://material-design.storage.googleapis.com/publish/v_1/social.png" />
    <meta property="og:site_name" content="Google design guidelines" />
    <meta property="article:section" content="Text fields - Components" />
<!--
<PageMap>
    <DataObject type="document">
      <Attribute name="uid"></Attribute>
      <Attribute name="title">Text fields</Attribute>
      <Attribute name="keywords"></Attribute>
      <Attribute name="slug"></Attribute>
      <Attribute name="description"></Attribute>
      <Attribute name="section_title">Components</Attribute>
      <Attribute name="section_slug">components</Attribute>
    </DataObject>
    <DataObject type="thumbnail">
      <Attribute name="src" value="" />
    </DataObject>
</PageMap>
-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51798601-1', 'auto');
  ga('send', 'pageview');
</script>
  </head>

  <body class="section-components noninitial-chapter qp-ui" data-qp-ui="{ 'Mask': {} }">
    <header>
  <div class="header-wrapper">
    <div class="header-title">      <span class="section-title">Components</span>
      <span class="chapter-title">Text fields</span>
    </div>
  </div>
</header>
<nav>
  <button class="hamburger-button qp-ui" data-qp-ui="{ 'SideNavToggle': {} }" role="tab">Show navigation</button>
</nav>        
<div id="side-nav" class="qp-ui" data-qp-ui="{ 'SideNavDrawer': {} }">
  <div class="side-nav-wrapper">
    <span id="logo"><img src="https://material-design.storage.googleapis.com/images/Google_Logo.svg" alt="Google logo"/></span>
    <nav>
      <dl>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Material design
                </dt>
        <dd>
                    <a class="" href="../index.html">Introduction
                    </a>
                  </dd>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">What is material?
                </dt>
        <dd>
                    <a class="" href="../what-is-material/environment.html">Environment
                    </a>
                    <a class="" href="../what-is-material/material-properties.html">Material properties
                    </a>
                    <a class="" href="../what-is-material/objects-in-3d-space.html">Objects in 3D space
                    </a>
                  </dd>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Animation
                </dt>
        <dd>
                    <a class="" href="../animation/authentic-motion.html">Authentic motion
                    </a>
                    <a class="" href="../animation/responsive-interaction.html">Responsive interaction
                    </a>
                    <a class="" href="../animation/meaningful-transitions.html">Meaningful transitions
                    </a>
                    <a class="" href="../animation/delightful-details.html">Delightful details
                    </a>
                  </dd>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Style
                </dt>
        <dd>
                    <a class="" href="../style/color.html">Color
                    </a>
                    <a class="" href="../style/icons.html">Icons
                    </a>
                    <a class="" href="../style/imagery.html">Imagery
                    </a>
                    <a class="" href="../style/typography.html">Typography
                    </a>
                  </dd>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Layout
                </dt>
        <dd>
                    <a class="" href="../layout/principles.html">Principles
                    </a>
                    <a class="" href="../layout/metrics-keylines.html">Metrics &amp; keylines
                    </a>
                    <a class="" href="../layout/structure.html">Structure
                    </a>
                  </dd>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': true }">Components
                </dt>
        <dd>
                    <a class="" href="bottom-sheets.html">Bottom sheets
                    </a>
                    <a class="" href="buttons.html">Buttons
                    </a>
                    <a class="" href="cards.html">Cards
                    </a>
                    <a class="" href="chips.html">Chips
                    </a>
                    <a class="" href="dialogs.html">Dialogs
                    </a>
                    <a class="" href="dividers.html">Dividers
                    </a>
                    <a class="" href="grids.html">Grids
                    </a>
                    <a class="" href="lists.html">Lists
                    </a>
                    <a class="" href="list-controls.html">List controls
                    </a>
                    <a class="" href="menus.html">Menus
                    </a>
                    <a class="" href="pickers.html">Pickers
                    </a>
                    <a class="" href="progress-activity.html">Progress &amp; activity
                    </a>
                    <a class="" href="sliders.html">Sliders
                    </a>
                    <a class="" href="snackbars-toasts.html">Snackbars &amp; toasts
                    </a>
                    <a class="" href="subheaders.html">Subheaders
                    </a>
                    <a class="" href="switches.html">Switches
                    </a>
                    <a class="" href="tabs.html">Tabs
                    </a>
                    <a class="nav_selected" href="text-fields.html">Text fields
                    </a>
                    <a class="" href="tooltips.html">Tooltips
                    </a>
                  </dd>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Patterns
                </dt>
        <dd>
                    <a class="" href="../patterns/data-formats.html">Data formats
                    </a>
                    <a class="" href="../patterns/errors.html">Errors
                    </a>
                    <a class="" href="../patterns/gestures.html">Gestures
                    </a>
                    <a class="" href="../patterns/loading-images.html">Loading images
                    </a>
                    <a class="" href="../patterns/navigation-drawer.html">Navigation drawer
                    </a>
                    <a class="" href="../patterns/navigational-transitions.html">Navigational transitions
                    </a>
                    <a class="" href="../patterns/scrolling-techniques.html">Scrolling techniques
                    </a>
                    <a class="" href="../patterns/search.html">Search
                    </a>
                    <a class="" href="../patterns/selection.html">Selection
                    </a>
                    <a class="" href="../patterns/settings.html">Settings
                    </a>
                    <a class="" href="../patterns/swipe-to-refresh.html">Swipe to refresh
                    </a>
                  </dd>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Usability
                </dt>
        <dd>
                    <a class="" href="../usability/accessibility.html">Accessibility
                    </a>
                    <a class="" href="../usability/bidirectionality.html">Bidirectionality
                    </a>
                  </dd>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Resources
                </dt>
        <dd>
                    <a class="" href="../resources/color-palettes.html">Color palettes
                              </a>
                    <a class="" href="../resources/layout-templates.html">Layout templates
                    </a>
                    <a class="" href="../resources/roboto-noto-fonts.html">Roboto &amp; Noto fonts
                    </a>
                    <a class="" href="../resources/sticker-sheets-icons.html">Sticker sheets &amp; icons
                    </a>
                  </dd>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">What&#39;s new
                        </dt>
        <dd>
                    <a class="" href="../whats-new/whats-new.html">What&#39;s new
                    </a>
                  </dd>
              </dl>
    </nav>
    <div class="legal">
      <p class="copyright">Google &copy;</p>
      <a href="http://www.google.com/intl/en/policies/privacy/">Privacy</a> &amp; <a href="http://www.google.com/intl/en/policies/terms/">Terms</a>
    </div>
  </div>
</div>

    <div id="grid-cont">
      <section class="grid_outer chapter">
  <h1 class="chapter-title">Text fields
      </h1>

  <div class="chapter-content">
        
        <div class="chapter-intro">
       <p>Text fields allow the user to input text. They can be single line, with or without scrolling, or multi-line, and can have an icon. Touching a text field places the cursor and automatically displays the keyboard. In addition to typing, text fields allow for a variety of other tasks, such as text selection (cut, copy, paste) and data lookup via auto-completion. See <a href="../patterns/selection.html">Patterns &gt; Selection</a> for text selection design. </p><p>The type of text field determines what kind of characters are allowed inside the field and may prompt the virtual keyboard to optimize its layout for frequently used characters. Common types for which you should optimize include number, text, email address, phone number, person’s name, username, URL, street address, credit card number, PIN, and search query. </p>

      
      
    </div>
    
        <nav class="chapter-toc">
      <h1>Contents</h1>
      <ul>
                <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="text-fields.html#text-fields-single-line-text-field">Single-line text field
                </a></li>
                <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="text-fields.html#text-fields-floating-labels">Floating labels
                </a></li>
                <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="text-fields.html#text-fields-multi-line-text-field">Multi-line text field
                </a></li>
                <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="text-fields.html#text-fields-full-width-text-field">Full-width text field
                </a></li>
                <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="text-fields.html#text-fields-character-counter">Character counter
                </a></li>
                <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="text-fields.html#text-fields-auto-complete-text-field">Auto-complete text field
                </a></li>
                <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="text-fields.html#text-fields-search-filter">Search filter
                </a></li>
              </ul>
    </nav>
    
    <div class="article-list">
                        <div id="text-fields-single-line-text-field" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
  <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
    Single-line text field
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
      <title id="title">Expand and collapse content</title>
      <desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
      <polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
    </svg>
  </h2>
  <div class="article-content">
    <div class="module-list">
                  <div>
          <section class="moduleD1">
      <h3>Single-line fields </h3>
    <div class="module-body">
    <p>Single-line fields automatically scroll their content to the left as the text input cursor reaches the right edge of the input field. </p>
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7akpZOU5SRXYtdmM/components_textfields_single1.png" />
                    </div>
                        </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7bEdJLWVEZjcwQjA/components_textfields_single2.png" />
                    </div>
                        </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleE1">
    <div class="module-body">
    
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7aXhSeDQyQWIzb2c/components_textfields_single3.png" />
                    </div>
                      </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleE1">
      <h3>Light theme</h3>
    <div class="module-body">
    <ul><li><span>Hint and input font: Roboto Regular 16sp</span></li><li><span>Tile height: 48dp</span></li><li><span>Text top and bottom padding: 16dp</span></li><li><span>Text field divider padding: 8dp</span></li></ul>
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7NjBXVDd4eUhWbDA/components_textfields_single4.png" />
                    </div>
                      </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleE1">
      <h3>Dark theme</h3>
    <div class="module-body">
    
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7R0NLRHd5NWJVUFE/components_textfields_single5.png" />
                    </div>
                      </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleD1">
    <div class="module-body">
    
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0B0J8hsRkk91LYmhoNU5sWXp0LUE/components_textfields_single6.png" />
                    </div>
                        </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleE1">
      <h3>Light theme with icon</h3>
    <div class="module-body">
    <ul><li><span>Hint and input font: Roboto Regular 16sp</span></li><li><span>Tile height: 48dp</span></li><li><span>Text top and bottom padding: 16dp</span></li><li><span>Text field divider padding: 8dp</span></li></ul>
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7S2NCRjNkZk9SVkU/components_textfields_single7.png" />
                    </div>
                      </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleE1">
      <h3>Dark theme with icon</h3>
    <div class="module-body">
    
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7WVBhSkFhUm5XdWM/components_textfields_single8.png" />
                    </div>
                      </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleD1">
    <div class="module-body">
    
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7MzFBNE9JWTk5ZHc/components_textfields_single9.png" />
                    </div>
                        </figure>
          </div>
  </div>
</section>
        </div>
              </div>
  </div>
</div>                  <div id="text-fields-floating-labels" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
  <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
    Floating labels
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
      <title id="title">Expand and collapse content</title>
      <desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
      <polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
    </svg>
  </h2>
  <div class="article-content">
    <div class="module-list">
                  <div>
          <section class="moduleD1">
      <h3>Floating labels</h3>
    <div class="module-body">
    <p>With floating inline labels, when the user engages with the text input field, the labels move to float above the field. </p>
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7cm5Nd3pMdlBVQ1k/components_textfields_labels1.png" />
                    </div>
                        </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7NF9BVjcxdUlJR0U/components_textfields_labels2.png" />
                    </div>
                        </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleE1">
      <h3>Light theme</h3>
    <div class="module-body">
    <ul><li><span>Hint and input font: Roboto Regular 16sp</span></li><li><span>Label font: Roboto Regular 12sp</span></li><li><span>Tile height: 72dp</span></li><li><span>Text top and bottom padding: 16dp</span></li><li><span>Text field divider padding: 8dp</span></li></ul>
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7SGthNmdNaFZhT00/components_textfields_labels3.png" />
                    </div>
                      </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleE1">
      <h3>Dark theme</h3>
    <div class="module-body">
    
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7d1VjallhcTNJQkU/components_textfields_labels4.png" />
                    </div>
                      </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleD1">
    <div class="module-body">
    
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7V1hoemJNQk5UQlU/components_textfields_labels5.png" />
                    </div>
                        </figure>
          </div>
  </div>
</section>
        </div>
              </div>
  </div>
</div>                  <div id="text-fields-multi-line-text-field" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
  <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
    Multi-line text field
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
      <title id="title">Expand and collapse content</title>
      <desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
      <polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
    </svg>
  </h2>
  <div class="article-content">
    <div class="module-list">
                  <div>
          <section class="moduleD1">
    <div class="module-body">
    <p>Multi-line text fields automatically break to a new line for overflow text and scroll vertically when the cursor reaches the lower edge.</p>
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7enlWc0RvcnFSekU/components_textfields_multiline1.png" />
                    </div>
                        </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7VzBWNzd0WjBFcmM/components_textfields_multiline2.png" />
                    </div>
                        </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleE1">
      <h3>Light theme</h3>
    <div class="module-body">
    <ul><li><span>Hint and input font: Roboto Regular 16sp</span></li><li><span>Label font: Roboto Regular 12sp</span></li><li><span>Text top and bottom padding: 16dp</span></li><li><span>Text field divider padding: 8dp</span></li></ul>
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7UWx4R0FIcllndEU/components_textfields_multiline3.png" />
                    </div>
                      </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleE1">
      <h3>Dark theme</h3>
    <div class="module-body">
    
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7X0Yya1RCVmFXOFU/components_textfields_multiline4.png" />
                    </div>
                      </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleD1">
    <div class="module-body">
    
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7aUJxbVJOSWtOQ00/components_textfields_multiline5.png" />
                    </div>
                        </figure>
          </div>
  </div>
</section>
        </div>
              </div>
  </div>
</div>                  <div id="text-fields-full-width-text-field" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
  <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
    Full-width text field
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
      <title id="title">Expand and collapse content</title>
      <desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
      <polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
    </svg>
  </h2>
  <div class="article-content">
    <div class="module-list">
                  <div>
          <section class="moduleD1">
    <div class="module-body">
    <p>Full-width text fields are useful for more in-depth tasks.</p>
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7cm9paWNPS3U3Y3c/components_textfields_full1.png" />
                    </div>
                        </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7NkxpZEZteG9HNTQ/components_textfields_full2.png" />
                    </div>
                        </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleE1">
      <h3>Single and multi-line fields</h3>
    <div class="module-body">
    <ul><li><span>Hint and input font: Roboto Regular 16sp </span></li><li><span>Top and bottom padding for text: 20dp</span></li></ul>
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7MGZia09EYkk1VHM/components_textfields_full3.png" />
                    </div>
                      </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleD1">
    <div class="module-body">
    
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7Q1FhU3h5OVY5VlU/components_textfields_full4.png" />
                    </div>
                        </figure>
          </div>
  </div>
</section>
        </div>
              </div>
  </div>
</div>                  <div id="text-fields-character-counter" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
  <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
    Character counter
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
      <title id="title">Expand and collapse content</title>
      <desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
      <polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
    </svg>
  </h2>
  <div class="article-content">
    <div class="module-list">
                  <div>
            <section class="moduleB1">
        <div class="module-body">
      <p>Use a character counter in fields where a character restriction is in place. </p>
    </div>
  </section>

        </div>
              <div>
          <section class="moduleD1">
      <h3>Single line with character counter</h3>
    <div class="module-body">
    <p>Counter text: Roboto Regular 12sp</p>
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7ejV4VjJpUXZIcHc/components_textfields_counter1.png" />
                    </div>
                        </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7S2xMdlRUbGZzLXM/components_textfields_counter2.png" />
                    </div>
                        </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleD1">
      <h3>Multi-line with character counter</h3>
    <div class="module-body">
    <p>Counter text: Roboto Regular 12sp</p>
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7NzNVV0JwaHVYQlE/components_textfields_counter3.png" />
                    </div>
                        </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7QXBEV1dMUUxVU2s/components_textfields_counter4.png" />
                    </div>
                        </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleE1">
    <div class="module-body">
    
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7NkI4aFllQjliWjQ/components_textfields_counter5.png" />
                    </div>
                      </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleD1">
      <h3>Full width with character counter</h3>
    <div class="module-body">
    
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7YXNtMUQzR0k1elk/components_textfields_counter6.png" />
                    </div>
                        </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7VzZtaTJldllJQ1E/components_textfields_counter7.png" />
                    </div>
                        </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleE1">
    <div class="module-body">
    
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7WlJzNlVQeEF3TEU/components_textfields_counter8.png" />
                    </div>
                      </figure>
          </div>
  </div>
</section>
        </div>
              </div>
  </div>
</div>                  <div id="text-fields-auto-complete-text-field" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
  <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
    Auto-complete text field
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
      <title id="title">Expand and collapse content</title>
      <desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
      <polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
    </svg>
  </h2>
  <div class="article-content">
    <div class="module-list">
                  <div>
          <section class="moduleD1">
    <div class="module-body">
    <p>Use auto-complete text fields to present real-time suggestions or completions in dropdowns, so users can enter information more accurately and efficiently.</p>
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7bkZmTE42dVZhRWM/components_textfields_auto1.png" />
                    </div>
                        </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7RWlOR0MtazNLRnc/components_textfields_auto2.png" />
                    </div>
                        </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleE1">
      <h3>Full-width auto-complete</h3>
    <div class="module-body">
    
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7N2ZlVVJxYks5UWc/components_textfields_auto3.png" />
                    </div>
                      </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleD1">
      <h3>Inset auto-complete</h3>
    <div class="module-body">
    
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7aGRfbDg3T1dDN1U/components_textfields_auto4.png" />
                    </div>
                        </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7M0p2VTNIZlNhaE0/components_textfields_auto5.png" />
                    </div>
                        </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleE1">
    <div class="module-body">
    
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7T3V1b3ZZVHJwTFU/components_textfields_auto6.png" />
                    </div>
                      </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleD1">
      <h3>Full-width inline auto-complete</h3>
    <div class="module-body">
    
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7NHJ1amhzM1JlYzA/components_textfields_auto7.png" />
                    </div>
                        </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7S2gyTlBSYk9GRG8/components_textfields_auto8.png" />
                    </div>
                        </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleE1">
    <div class="module-body">
    
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7ZXoxOFhCcmtCX0E/components_textfields_auto9.png" />
                    </div>
                      </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleE1">
      <h3>In-line auto-complete</h3>
    <div class="module-body">
    
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7Y0pGNWVFRGgyWlk/components_textfields_auto10.png" />
                    </div>
                      </figure>
          </div>
  </div>
</section>
        </div>
              </div>
  </div>
</div>                  <div id="text-fields-search-filter" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
  <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
    Search filter
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
      <title id="title">Expand and collapse content</title>
      <desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
      <polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
    </svg>
  </h2>
  <div class="article-content">
    <div class="module-list">
                  <div>
          <section class="moduleD1">
    <div class="module-body">
    <p>The app bar can act as a text input field. As the user types, the content underneath it is filtered and sorted. </p>
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7YlVReEdkTURqQk0/components_textfields_search1.png" />
                    </div>
                        </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7S1Rmd3lkRUtJRmc/components_textfields_search2.png" />
                    </div>
                        </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleE1">
      <h3>Full-width text field in app bar</h3>
    <div class="module-body">
    
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7VGxwYjZ5MkdSbms/components_textfields_search3.png" />
                    </div>
                      </figure>
          </div>
  </div>
</section>
        </div>
              </div>
  </div>
</div>                  </div>

  </div>

</section>    </div>

    <footer>
  <div class="footer-grid">
    <div class="footer-L section-components">&nbsp;</div>
    <div class="footer-grid-L section-components">
            <a class="footer-text" href="tabs.html">
        <img class="arrow-L" alt="" src="https://material-design.storage.googleapis.com/images/Arrow-left_24x24px.svg"/>
        <span>Previous</span>
        <div>
                      Tabs
                  </div>
      </a>
          </div>

    <div class="footer-R section-components">&nbsp;</div>
    <div class="footer-grid-R section-components">
            <a class="footer-text" href="tooltips.html">
        <img class="arrow-L" alt="" src="https://material-design.storage.googleapis.com/images/Arrow-right_24x24px.svg"/>
        <span>Next</span>
        <div>
                      Tooltips
                  </div>
      </a>
          </div>

  </div>
</footer>
    <script src="https://www.gstatic.com/external_hosted/picturefill/picturefill.min.js"></script>
    <script src="../static/js/main.js"></script>


  </body>

</html>