md-tag[md-attribute1~=value1],
md-tag2[md-attribute1~=value1] {
  property1: csslabel1;
}
md-parenttag > md-tag[md-attribute1~=value1] {
  property1: csslabel2;
}
md-parenttag > md-tag2[md-attribute1~=value1] {
  property1: csslabel2;
}
