<!DOCTYPE html>
<html class="qp-ui" data-qp-ui="{
  'Futurizr': {
    'hasTouch': 'touch'
  }
}">
  <head>
    <link href="../static/css/main.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width"/>
    <meta name="keywords" content=""/>
    <title>Metrics &amp; keylines - Layout - Google design guidelines</title>
    <meta itemprop="name" content="Metrics & keylines - Layout - Google design guidelines"/>
    <meta itemprop="image" content="https://material-design.storage.googleapis.com/publish/v_1/social.png"/>
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Metrics & keylines - Layout - Google design guidelines" />
    <meta property="og:image" content="https://material-design.storage.googleapis.com/publish/v_1/social.png" />
    <meta property="og:site_name" content="Google design guidelines" />
    <meta property="article:section" content="Metrics & keylines - Layout" />
<!--
<PageMap>
    <DataObject type="document">
      <Attribute name="uid"></Attribute>
      <Attribute name="title">Metrics &amp; keylines</Attribute>
      <Attribute name="keywords"></Attribute>
      <Attribute name="slug"></Attribute>
      <Attribute name="description"></Attribute>
      <Attribute name="section_title">Layout</Attribute>
      <Attribute name="section_slug">layout</Attribute>
    </DataObject>
    <DataObject type="thumbnail">
      <Attribute name="src" value="" />
    </DataObject>
</PageMap>
-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51798601-1', 'auto');
  ga('send', 'pageview');
</script>
  </head>

  <body class="section-layout noninitial-chapter qp-ui" data-qp-ui="{ 'Mask': {} }">
    <header>
  <div class="header-wrapper">
    <div class="header-title">      <span class="section-title">Layout</span>
      <span class="chapter-title">Metrics &amp; keylines</span>
    </div>
  </div>
</header>
<nav>
  <button class="hamburger-button qp-ui" data-qp-ui="{ 'SideNavToggle': {} }" role="tab">Show navigation</button>
</nav>        
<div id="side-nav" class="qp-ui" data-qp-ui="{ 'SideNavDrawer': {} }">
  <div class="side-nav-wrapper">
    <span id="logo"><img src="https://material-design.storage.googleapis.com/images/Google_Logo.svg" alt="Google logo"/></span>
    <nav>
      <dl>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Material design
                </dt>
        <dd>
                    <a class="" href="../index.html">Introduction
                    </a>
                  </dd>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">What is material?
                </dt>
        <dd>
                    <a class="" href="../what-is-material/environment.html">Environment
                    </a>
                    <a class="" href="../what-is-material/material-properties.html">Material properties
                    </a>
                    <a class="" href="../what-is-material/objects-in-3d-space.html">Objects in 3D space
                    </a>
                  </dd>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Animation
                </dt>
        <dd>
                    <a class="" href="../animation/authentic-motion.html">Authentic motion
                    </a>
                    <a class="" href="../animation/responsive-interaction.html">Responsive interaction
                    </a>
                    <a class="" href="../animation/meaningful-transitions.html">Meaningful transitions
                    </a>
                    <a class="" href="../animation/delightful-details.html">Delightful details
                    </a>
                  </dd>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Style
                </dt>
        <dd>
                    <a class="" href="../style/color.html">Color
                    </a>
                    <a class="" href="../style/icons.html">Icons
                    </a>
                    <a class="" href="../style/imagery.html">Imagery
                    </a>
                    <a class="" href="../style/typography.html">Typography
                    </a>
                  </dd>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': true }">Layout
                </dt>
        <dd>
                    <a class="" href="principles.html">Principles
                    </a>
                    <a class="nav_selected" href="metrics-keylines.html">Metrics &amp; keylines
                    </a>
                    <a class="" href="structure.html">Structure
                    </a>
                  </dd>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Components
                </dt>
        <dd>
                    <a class="" href="../components/bottom-sheets.html">Bottom sheets
                    </a>
                    <a class="" href="../components/buttons.html">Buttons
                    </a>
                    <a class="" href="../components/cards.html">Cards
                    </a>
                    <a class="" href="../components/chips.html">Chips
                    </a>
                    <a class="" href="../components/dialogs.html">Dialogs
                    </a>
                    <a class="" href="../components/dividers.html">Dividers
                    </a>
                    <a class="" href="../components/grids.html">Grids
                    </a>
                    <a class="" href="../components/lists.html">Lists
                    </a>
                    <a class="" href="../components/list-controls.html">List controls
                    </a>
                    <a class="" href="../components/menus.html">Menus
                    </a>
                    <a class="" href="../components/pickers.html">Pickers
                    </a>
                    <a class="" href="../components/progress-activity.html">Progress &amp; activity
                    </a>
                    <a class="" href="../components/sliders.html">Sliders
                    </a>
                    <a class="" href="../components/snackbars-toasts.html">Snackbars &amp; toasts
                    </a>
                    <a class="" href="../components/subheaders.html">Subheaders
                    </a>
                    <a class="" href="../components/switches.html">Switches
                    </a>
                    <a class="" href="../components/tabs.html">Tabs
                    </a>
                    <a class="" href="../components/text-fields.html">Text fields
                    </a>
                    <a class="" href="../components/tooltips.html">Tooltips
                    </a>
                  </dd>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Patterns
                </dt>
        <dd>
                    <a class="" href="../patterns/data-formats.html">Data formats
                    </a>
                    <a class="" href="../patterns/errors.html">Errors
                    </a>
                    <a class="" href="../patterns/gestures.html">Gestures
                    </a>
                    <a class="" href="../patterns/loading-images.html">Loading images
                    </a>
                    <a class="" href="../patterns/navigation-drawer.html">Navigation drawer
                    </a>
                    <a class="" href="../patterns/navigational-transitions.html">Navigational transitions
                    </a>
                    <a class="" href="../patterns/scrolling-techniques.html">Scrolling techniques
                    </a>
                    <a class="" href="../patterns/search.html">Search
                    </a>
                    <a class="" href="../patterns/selection.html">Selection
                    </a>
                    <a class="" href="../patterns/settings.html">Settings
                    </a>
                    <a class="" href="../patterns/swipe-to-refresh.html">Swipe to refresh
                    </a>
                  </dd>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Usability
                </dt>
        <dd>
                    <a class="" href="../usability/accessibility.html">Accessibility
                    </a>
                    <a class="" href="../usability/bidirectionality.html">Bidirectionality
                    </a>
                  </dd>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Resources
                </dt>
        <dd>
                    <a class="" href="../resources/color-palettes.html">Color palettes
                              </a>
                    <a class="" href="../resources/layout-templates.html">Layout templates
                    </a>
                    <a class="" href="../resources/roboto-noto-fonts.html">Roboto &amp; Noto fonts
                    </a>
                    <a class="" href="../resources/sticker-sheets-icons.html">Sticker sheets &amp; icons
                    </a>
                  </dd>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">What&#39;s new
                        </dt>
        <dd>
                    <a class="" href="../whats-new/whats-new.html">What&#39;s new
                    </a>
                  </dd>
              </dl>
    </nav>
    <div class="legal">
      <p class="copyright">Google &copy;</p>
      <a href="http://www.google.com/intl/en/policies/privacy/">Privacy</a> &amp; <a href="http://www.google.com/intl/en/policies/terms/">Terms</a>
    </div>
  </div>
</div>

    <div id="grid-cont">
      <section class="grid_outer chapter">
  <h1 class="chapter-title">Metrics &amp; keylines
      </h1>

  <div class="chapter-content">
        
    
        <nav class="chapter-toc">
      <h1>Contents</h1>
      <ul>
                <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="metrics-keylines.html#metrics-keylines-baseline-grids">Baseline grids
                </a></li>
                <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="metrics-keylines.html#metrics-keylines-keylines-spacing">Keylines and spacing
                </a></li>
                <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="metrics-keylines.html#metrics-keylines-ratio-keylines">Ratio keylines
                </a></li>
                <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="metrics-keylines.html#metrics-keylines-incremental-keylines">Incremental keylines
                </a></li>
                <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="metrics-keylines.html#metrics-keylines-touch-target-size">Touch target size
                </a></li>
              </ul>
    </nav>
    
    <div class="article-list">
                        <div id="metrics-keylines-baseline-grids" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
  <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
    Baseline grids
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
      <title id="title">Expand and collapse content</title>
      <desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
      <polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
    </svg>
  </h2>
  <div class="article-content">
    <div class="module-list">
                  <div>
            <section class="moduleB1">
        <div class="module-body">
      <p>All components align to an 8dp square baseline grid. Type aligns to a 4dp baseline grid. Iconography in toolbars align to a 4dp square baseline grid. This applies to mobile, tablet, and desktop. </p><p>See detailed information on <a href="../components/buttons.html">components</a>.</p>
    </div>
  </section>

        </div>
              <div>
          <section class="moduleC1 moduleC2">
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                          <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7VUwyRlRmenpQTms/layout_metrics_baseline1.png" />
                      </div>
                        </figure>
            <figure class="">
                          <div class="media">
                          <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7OUYtZ1UxVU14ZUU/layout_metrics_baseline2.png" />
                      </div>
                        </figure>
            <figure class="">
                          <div class="media">
                          <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7Nm42dEZYSWxwVkU/layout_metrics_baseline3.png" />
                      </div>
                        </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleF1">
  <div class="figure-group">
    <div class="figure-row">
      <figure>
      <div class="media">
                  <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7OGxjM2drZ04xcFU/layout_metrics_baseline4.png" />
              </div>
            </figure>
    </div>
  </div>
</section>

        </div>
              <div>
          <section class="moduleF1">
  <div class="figure-group">
    <div class="figure-row">
      <figure>
      <div class="media">
                  <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7VS1WMmoxX285cWM/layout_metrics_baseline5.png" />
              </div>
            <figcaption>
        <p>See detailed information on <a href="../style/typography.html">typography</a>.</p>
      </figcaption>
            </figure>
    </div>
  </div>
</section>

        </div>
              </div>
  </div>
</div>                  <div id="metrics-keylines-keylines-spacing" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
  <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
    Keylines and spacing
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
      <title id="title">Expand and collapse content</title>
      <desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
      <polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
    </svg>
  </h2>
  <div class="article-content">
    <div class="module-list">
                  <div>
            <section class="moduleB1">
          <h3>Mobile</h3>
        <div class="module-body">
      <p>The mobile layout template includes a wide variety of screens and information about how keylines and spacing work across screen edges and elements. Here is a sample of the screens included in the download. </p>
    </div>
  </section>

        </div>
              <div>
          <div class="modulettes">
    <a download class="modulette download trackdl" href="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7V2s1ay1rTmM0dG8/Layout_Mobile_Whiteframe.ai" title="Mobile Layout Template">
    <img class="icon download-icon" src="../static/images/download_black.svg" alt="" />
    <div class="info">
      <div class="title">Mobile Layout Template</div>
      <span class="subtitle">2.57 MB (.ai)</span>
    </div>
  </a>
  </div>
        </div>
              <div>
          <section class="moduleC1 moduleC2">
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                          <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7MGZ6V3p1c0VtXzQ/layout_metrics_keylines_mobile1.png" />
                      </div>
                        <figcaption>
          <div class="caption-title">Context</div><p>This screen shows how icons, avatars, and a two-line list align on the left and how a 56dp floating action button and text align on the right.</p>
        </figcaption>
                </figure>
            <figure class="">
                          <div class="media">
                          <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7emVMNzVwSGE1MkU/layout_metrics_keylines_mobile2.png" />
                      </div>
                        <figcaption>
          <div class="caption-title">Vertical keylines and horizontal margins</div><p>Vertical keyline at 16dp from the left and right edges. Content associated with an icon or avatar aligns 72dp from the left edge.</p><p>16dp horizontal margins on mobile.</p>
        </figcaption>
                </figure>
            <figure class="">
                          <div class="media">
                          <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7TnFNZktabzN3RTA/layout_metrics_keylines_mobile3.png" />
                      </div>
                        <figcaption>
          <div class="caption-title">Vertical spacing</div><ol start="1"><li><span>24dp</span></li><li><span>56dp</span></li><li><span>48dp</span></li><li><span>72dp</span></li></ol>
        </figcaption>
                </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleC1 moduleC2">
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                          <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7TUFKdnA3enpZN1U/layout_metrics_keylines_mobile4.png" />
                      </div>
                        <figcaption>
          <div class="caption-title">Context</div><p>This screen shows how icons, avatars, a two-line list, a subtitle, and a 40dp floating action button align on the left. Icons align to the right.</p>
        </figcaption>
                </figure>
            <figure class="">
                          <div class="media">
                          <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7ZGtjeGZPbGhkSTA/layout_metrics_keylines_mobile5.png" />
                      </div>
                        <figcaption>
          <div class="caption-title">Vertical keylines and horizontal margins</div><p>Vertical keyline for icons at 16dp from the left and right edges. Content associated with an icon or avatar aligns 72dp from the left edge. </p><p>16dp horizontal margins on mobile.</p>
        </figcaption>
                </figure>
            <figure class="">
                          <div class="media">
                          <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7bUsxcmYtSm5LVUE/layout_metrics_keylines_mobile6.png" />
                      </div>
                        <figcaption>
          <div class="caption-title">Vertical spacing</div><ol start="1"><li><span>24dp</span></li><li><span>56dp</span></li><li><span>72dp</span></li><li><span>48dp</span></li><li><span>8dp</span></li></ol>
        </figcaption>
                </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleC1 moduleC2">
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                          <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7S2VzaVZjcFRmckE/layout_metrics_keylines_mobile7.png" />
                      </div>
                        <figcaption>
          <div class="caption-title">Context</div><p>This screen shows how icons align on the left and how icons and a 56dp floating action button align on the right.</p>
        </figcaption>
                </figure>
            <figure class="">
                          <div class="media">
                          <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7Q0U0eHNmd0FiaDg/layout_metrics_keylines_mobile8.png" />
                      </div>
                        <figcaption>
          <div class="caption-title">Vertical keylines and horizontal margins</div><p>Vertical keyline for icons at 16dp from the left edge. Content associated with an icon or avatar aligns 72dp from the left edge. An extra keyline is added 32dp from the right edge to allow the floating action button to align with the icons below. </p><p>16dp horizontal margins on mobile.</p>
        </figcaption>
                </figure>
            <figure class="">
                          <div class="media">
                          <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7cFlKUkxpRTRqMEk/layout_metrics_keylines_mobile9.png" />
                      </div>
                        <figcaption>
          <div class="caption-title">Vertical Spacing</div><ol start="1"><li><span>24dp</span></li><li><span>56dp</span></li><li><span>8dp</span></li><li><span>72dp</span></li></ol>
        </figcaption>
                </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleC1 moduleC2">
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                          <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7ZmNmQVdLamZCMW8/layout_metrics_keylines_mobile10.png" />
                      </div>
                        <figcaption>
          <div class="caption-title">Context</div><p>This screen shows how icons, avatars, and text align on the left and how the floating action button, icons, and text align on the right.</p>
        </figcaption>
                </figure>
            <figure class="">
                          <div class="media">
                          <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7TVRfaDhNM1luSU0/layout_metrics_keylines_mobile11.png" />
                      </div>
                        <figcaption>
          <div class="caption-title">Vertical keylines and horizontal margins</div><p>Vertical keyline for icons at 16dp from the left and right edges. Content associated with an icon or avatar aligns 72dp from the left edge. </p><p>16dp horizontal margins on mobile.</p>
        </figcaption>
                </figure>
            <figure class="">
                          <div class="media">
                          <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7YXJFMVotX0ZlNkU/layout_metrics_keylines_mobile12.png" />
                      </div>
                        <figcaption>
          <div class="caption-title">Vertical Spacing</div><ol start="1"><li><span>24dp</span></li><li><span>56dp</span></li><li><span>48dp</span></li><li><span>8dp</span></li></ol>
        </figcaption>
                </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleC1 moduleC2">
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                          <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7VVFYUnRFZEVoYmM/layout_metrics_keylines_mobile13.png" />
                      </div>
                        <figcaption>
          <div class="caption-title">Context</div><p>This screen shows the width of a side navigation menu and how icons, avatars, and text align on the left and how icons align on the left.</p>
        </figcaption>
                </figure>
            <figure class="">
                          <div class="media">
                          <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7YmlrYjA0dWM5cXM/layout_metrics_keylines_mobile14.png" />
                      </div>
                        <figcaption>
          <div class="caption-title">Vertical keylines and horizontal margins</div><p>Vertical keylines for icons at 16dp from the left and right edges of the side nav. </p><p>Content associated with an icon or avatar aligns 72dp from the left edge of the side nav. </p><p>The width of the side nav is equal to the width of the screen minus the height of the action bar, or in this case 56dp from the right edge of the screen.</p><p>16dp horizontal margins on mobile.</p>
        </figcaption>
                </figure>
            <figure class="">
                          <div class="media">
                          <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7XzUyQlZIWEFOVkU/layout_metrics_keylines_mobile15.png" />
                      </div>
                        <figcaption>
          <div class="caption-title">Vertical spacing</div><ol start="1"><li><span>48dp</span></li><li><span>8dp</span></li><li><span>56dp</span></li></ol>
        </figcaption>
                </figure>
          </div>
  </div>
</section>
        </div>
              <div>
            <section class="moduleB1">
          <h3>Tablet</h3>
        <div class="module-body">
      <p>The tablet layout template includes 14 different screens and shows how keylines and spacing work across screen edges and elements. Below is a sample of the 14 screens included in the download.</p>
    </div>
  </section>

        </div>
              <div>
          <div class="modulettes">
    <a download class="modulette download trackdl" href="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7U2hHWS1kS1JjT0k/Layout_Tablet_Whiteframe.ai" title="Tablet layout template">
    <img class="icon download-icon" src="../static/images/download_black.svg" alt="" />
    <div class="info">
      <div class="title">Tablet layout template</div>
      <span class="subtitle">1.88 MB (.ai)</span>
    </div>
  </a>
  </div>
        </div>
              <div>
          <section class="moduleF1">
  <div class="figure-group">
    <div class="figure-row">
      <figure>
      <div class="media">
                  <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7b3dHbFhOY1VfeEU/layout_metrics_keylines_tablet1.png" />
              </div>
            <figcaption>
        <div class="caption-title">Context</div>
      </figcaption>
            </figure>
    </div>
  </div>
</section>

        </div>
              <div>
          <section class="moduleF1">
  <div class="figure-group">
    <div class="figure-row">
      <figure>
      <div class="media">
                  <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7b2NPZWNjUHNtVjQ/layout_metrics_keylines_tablet2.png" />
              </div>
            <figcaption>
        <div class="caption-title">Vertical keylines and horizontal margins</div>
      </figcaption>
            </figure>
    </div>
  </div>
</section>

        </div>
              <div>
          <section class="moduleF1">
  <div class="figure-group">
    <div class="figure-row">
      <figure>
      <div class="media">
                  <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7cG5sS1FjSXZ4UDg/layout_metrics_keylines_tablet3.png" />
              </div>
            <figcaption>
        <div class="caption-title">Vertical spacing</div><ol start="1"><li><span>24dp</span></li><li><span>64dp</span></li><li><span>8dp</span></li><li><span>72dp</span></li></ol>
      </figcaption>
            </figure>
    </div>
  </div>
</section>

        </div>
              <div>
          <section class="moduleF1">
  <div class="figure-group">
    <div class="figure-row">
      <figure>
      <div class="media">
                  <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7blNxemF0R19SSGc/layout_metrics_keylines_tablet4.png" />
              </div>
            <figcaption>
        <div class="caption-title">Context</div>
      </figcaption>
            </figure>
    </div>
  </div>
</section>

        </div>
              <div>
          <section class="moduleF1">
  <div class="figure-group">
    <div class="figure-row">
      <figure>
      <div class="media">
                  <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7Q240aEk5S201Zk0/layout_metrics_keylines_tablet5.png" />
              </div>
            <figcaption>
        <div class="caption-title">Vertical keylines and horizontal margins</div>
      </figcaption>
            </figure>
    </div>
  </div>
</section>

        </div>
              <div>
          <section class="moduleF1">
  <div class="figure-group">
    <div class="figure-row">
      <figure>
      <div class="media">
                  <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7ekZmbE1VeEo4dms/layout_metrics_keylines_tablet6.png" />
              </div>
            <figcaption>
        <div class="caption-title">Vertical spacing</div><ol start="1"><li><span>24dp</span></li><li><span>64dp</span></li><li><span>8dp</span></li><li><span>48dp</span></li><li><span>80dp</span></li></ol>
      </figcaption>
            </figure>
    </div>
  </div>
</section>

        </div>
              <div>
            <section class="moduleB1">
          <h3>Desktop</h3>
        <div class="module-body">
      <p>The desktop layout template includes four different screens, each with four different window sizes, and shows how keylines and spacing work across windows and elements. Based on the window size, the keylines and spacing blocks will inherit grid rules from both tablet and mobile. Here is a sample of a screen available in the download. </p>
    </div>
  </section>

        </div>
              <div>
          <div class="modulettes">
    <a download class="modulette download trackdl" href="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7UHpjdlh5bUd6Z2c/Layout_Desktop_Whiteframe.ai" title="Desktop Layout Template">
    <img class="icon download-icon" src="../static/images/download_black.svg" alt="" />
    <div class="info">
      <div class="title">Desktop Layout Template</div>
      <span class="subtitle">89.40 MB (.ai)</span>
    </div>
  </a>
  </div>
        </div>
              <div>
          <section class="moduleF1">
  <div class="figure-group">
    <div class="figure-row">
      <figure>
      <div class="media">
                  <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7c2FiNEFVZHJQcFE/layout_metrics_keylines_desktop1.png" />
              </div>
            <figcaption>
        <div class="caption-title">Full screen</div>
      </figcaption>
            </figure>
    </div>
  </div>
</section>

        </div>
              <div>
          <section class="moduleC1 moduleC2">
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                          <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7Y18xZHdTUXkwVzA/layout_metrics_keylines_desktop2.png" />
                      </div>
                        <figcaption>
          <div class="caption-title">Resized windows</div>
        </figcaption>
                </figure>
            <figure class="">
                          <div class="media">
                          <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7dS1xT3hwRC1kTFU/layout_metrics_keylines_desktop3.png" />
                      </div>
                        </figure>
            <figure class="">
                          <div class="media">
                          <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7alFtbGU1OXJtNVk/layout_metrics_keylines_desktop4.png" />
                      </div>
                        </figure>
          </div>
  </div>
</section>
        </div>
              </div>
  </div>
</div>                  <div id="metrics-keylines-ratio-keylines" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
  <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
    Ratio keylines
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
      <title id="title">Expand and collapse content</title>
      <desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
      <polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
    </svg>
  </h2>
  <div class="article-content">
    <div class="module-list">
                  <div>
          <section class="moduleD1">
    <div class="module-body">
    <p>Applies to mobile screen width and UI element widths on mobile, tablet, and desktop.</p>
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7ZjBCVzdPOENpT28/layout_metrics_ratiokeylines1.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Screen width</div><p> </p>
        </figcaption>
                </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7V19hNE5tYy12VFU/layout_metrics_ratiokeylines2.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Example</div>
        </figcaption>
                </figure>
          </div>
  </div>
</section>
        </div>
              <div>
          <section class="moduleD1">
    <div class="module-body">
    
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7LTV1b3k5ekZHa1E/layout_metrics_ratiokeylines3.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Element width</div>
        </figcaption>
                </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7Z3FXT0dzU21GTkE/layout_metrics_ratiokeylines4.png" />
                    </div>
                        <figcaption>
          <div class="caption-title">Example</div>
        </figcaption>
                </figure>
          </div>
  </div>
</section>
        </div>
              </div>
  </div>
</div>                  <div id="metrics-keylines-incremental-keylines" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
  <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
    Incremental keylines
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
      <title id="title">Expand and collapse content</title>
      <desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
      <polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
    </svg>
  </h2>
  <div class="article-content">
    <div class="module-list">
                  <div>
          <section class="moduleE1">
    <div class="module-body">
    <p>An incremental keyline defines an increment, like the height of the action bar, and uses a multiple of that increment to determine the size and position of other elements in the app.</p><p>Applies mostly to desktop, often to tablet, rarely to mobile. Number of increments will vary based on window size.</p>
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7OWt2UkdScnNZeFU/layout_metrics_incremental1.png" />
                    </div>
                      </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7NTE2ZWdVZ3NEZEU/layout_metrics_incremental2.png" />
                    </div>
                      </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7LXpKRFdvcDRqNzQ/layout_metrics_incremental3.png" />
                    </div>
                      </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7WkJWdTlIa3lxTkU/layout_metrics_incremental4.png" />
                    </div>
                      </figure>
          </div>
  </div>
</section>
        </div>
              </div>
  </div>
</div>                  <div id="metrics-keylines-touch-target-size" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
  <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
    Touch target size
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
      <title id="title">Expand and collapse content</title>
      <desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
      <polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
    </svg>
  </h2>
  <div class="article-content">
    <div class="module-list">
                  <div>
          <section class="moduleD1">
    <div class="module-body">
    <p>The minimum touch target size is 48dp. Keep this in mind when spacing icons (24dp) or avatars (40dp) in a layout. The touch targets shouldn’t overlap.</p><p>On average, 48dp translates to a physical size of about 9mm (with some variability). This is comfortably in the range of recommended target sizes (7-10mm) for touchscreen objects and ensures that users will be able to reliably and accurately target them with their fingers.</p><p>If you design your elements to be at least 48dp high and wide, you can ensure that:</p><ul><li><span>Your targets will never be smaller than the minimum recommended target size of 7mm regardless of the screen on which they are displayed.</span></li><li><span>You strike a good compromise between overall information density and targetability of UI elements on the other.</span></li></ul>
  </div>
  <div class="figure-group">
    <div class="figure-row">
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7eEVhSW1nVjBrZnM/layout_metrics_touchtarget1.png" />
                    </div>
                        </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7YmdULUktVWtuREE/layout_metrics_touchtarget2.png" />
                    </div>
                        </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7dlN4cEMwWm9Tc28/layout_metrics_touchtarget3.png" />
                    </div>
                        </figure>
            <figure class="">
                          <div class="media">
                      <img src="https://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7VmpOT1dQcWJWV0U/layout_metrics_touchtarget4.png" />
                    </div>
                        </figure>
          </div>
  </div>
</section>
        </div>
              </div>
  </div>
</div>                  </div>

  </div>

</section>    </div>

    <footer>
  <div class="footer-grid">
    <div class="footer-L section-layout">&nbsp;</div>
    <div class="footer-grid-L section-layout">
            <a class="footer-text" href="principles.html">
        <img class="arrow-L" alt="" src="https://material-design.storage.googleapis.com/images/Arrow-left_24x24px.svg"/>
        <span>Previous</span>
        <div>
                      Principles
                  </div>
      </a>
          </div>

    <div class="footer-R section-layout">&nbsp;</div>
    <div class="footer-grid-R section-layout">
            <a class="footer-text" href="structure.html">
        <img class="arrow-L" alt="" src="https://material-design.storage.googleapis.com/images/Arrow-right_24x24px.svg"/>
        <span>Next</span>
        <div>
                      Structure
                  </div>
      </a>
          </div>

  </div>
</footer>
    <script src="https://www.gstatic.com/external_hosted/picturefill/picturefill.min.js"></script>
    <script src="../static/js/main.js"></script>


  </body>

</html>