.el-paper:first-child {
	margin-top: 16px;
}
.el-paper {
	margin-bottom: 32px;
}
.el-paper:last-child {
	margin-bottom: 16px;
}

.el:last-child {
	margin-bottom: 0;
}

.el-header {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}
.el-header a {
	text-decoration: none;
}

.el-demo {
	margin-top: 16px;
}